/***********************************************************************************************/
/* Extended styles for IceTheme templates */
/***********************************************************************************************/

/* Responsive tables */
.scrollable.has-scroll {
	position:relative;
	overflow:hidden; /* Clips the shadow created with the pseudo-element in the next rule. Not necessary for the actual scrolling. */
}
.scrollable.has-scroll:after {
	position:absolute;
	top:0;
	left:100%;
	width:50px;
	height:100%;
	border-radius:10px 0 0 10px / 50% 0 0 50%;
	box-shadow:-5px 0 10px rgba(0, 0, 0, 0.25);
	content:'';
}

.scrollable.has-scroll > div {
	overflow-x:auto;
}

.scrollable > div::-webkit-scrollbar {
	height:12px;
}
.scrollable > div::-webkit-scrollbar-track {
	box-shadow:0 0 2px rgba(0,0,0,0.15) inset;
	background:#f0f0f0;
}
.scrollable > div::-webkit-scrollbar-thumb {
	border-radius:6px;
	background:#ccc;
}



/* SlideShow module (CK slideshow)
-----------------------------------*/
#slideshow {
	position: relative;
	
	&.header_fix_cart{
		z-index: -9;	
	}
	
	.slideshowck {
		margin-bottom:0!important;
	}
	
	.camera_caption {
		
		> div {
			background: #000;
			background: rgba(0, 0, 0, 0.75);
			#gradient .vertical (  rgba(0, 0, 0, .0), rgba(0, 0, 0, .75)  );
			border-radius:0!important;
			padding:30px 0 50px;
		}
		
		.camera_caption_title {
			font-family:@heading_font;
			letter-spacing: -.75px;
			font-weight: 300;
			font-size: 36px;
			line-height: 46px;
			text-align:center;
		}
		
		.camera_caption_desc {
			font-family:@OpenSans;
			color:rgba(255,255,255,.75);
			font-size: 15px;
			line-height: 20px;
			margin-top: 2px;
			margin-bottom:4px;
			text-align:center;
			
			a {
				color:#fff;
				text-decoration:underline;
				.transition();
				
				&:hover {
					text-shadow:0 0 14px rgba(255,255,255,.7);
				}
			}
		}
	}
	
	.camera_prev, 
	.camera_next {
		background:none;
		width: 40px;
		height: 60px;
		margin-top:0;
		top:auto;
		bottom:25px;
		opacity:0!important;
		.transition();
	
		span {
			background: url("../images/slideshow_arrows.png") ;
			width: 40px;
			height: 60px;
			.transition();
		}
	}
	
	&:hover {
		
		.camera_prev, 
		.camera_next {
			opacity:.5!important;
			
			&:hover {
				opacity:1!important;
			}
		}
	}
		
	.camera_next > span {
		background-position:bottom;
	}
	
	.camera_commands {
		display:none!important;
	}
	
	.camera_prev {
		left:25px;
		
		span:hover {
			.translate(-2px,0);
		}
	}
	
	.camera_next {
		right:25px;
		
		span:hover {
			.translate(2px,0);
		}
	}
	

	.camera_pag {
		text-align: center;
		margin-top:-35px;
			
		ul {
			margin:0;
			display: inline-block;
			// padding: 2px 10px;
			padding:0;
			border-radius:4px;
			display:inline-block;
			// background:rgba(0,0,0,.25);
			
			li {
				width: 14px;
				height: 14px;
				border-radius:14px;
				margin:0 5px;
				background: #fff;
				.transition();
				
				span {
					display:none;
				}
				
				&:hover {
					background:lighten(@bg_primary,20%);	
				}
								
				&.cameracurrent {
					background:lighten(@bg_primary,20%);					
				}
			}
		}
	}
	
	.camera_loader {
		display:none!important;
		width: 60px;
		height: 60px;
		background: #fff;
		left: 50%;
		margin: -60px 0 0 -30px;
		top: 50%;
		z-index: 3;
		border-radius: 100%;  
		-webkit-animation: scaleout 1.0s infinite ease-in-out;
		animation: scaleout 1.0s infinite ease-in-out;
	}
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}


.icemegamenu-hover {
	.transition();
	background:#fff;
	
	img {
		.transition();
		opacity:.5;
	}
}


/* newsletter on footer */
#footer input[type="text"],
#footer input[type="email"] {
  margin-top: 5px;
  width: 80%;
  box-shadow: none;
  border:none;
  
  &:focus {
	  box-shadow:0 0 12px rgba(0,0,0,.15);
  }
}
#footer input[type="email"] {
  background-image: url(../images/icon_email.png);
  background-repeat: no-repeat;
  background-position: right center;
}



/* Brands module
with the marquee jQuery JavaScript */
#brands {
	position: relative;
	overflow:hidden;
	margin: 60px 0 0;
  
	/* Simply Scroll Jquery plugin (marque) */
	/* Container DIV - automatically generated */
	.simply-scroll-container { 
		position: relative;
	}
	
	/* Clip DIV - automatically generated */
	.simply-scroll-clip { 
		position: relative;
		overflow: hidden;
	}
	
	/* UL/OL/DIV - the element that simplyScroll is inited on
	Class name automatically added to element */
	.simply-scroll-list { 
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;
	}
		
	.simply-scroll-list li {
		padding: 0;
		margin: 0;
		list-style: none;
		float: left; /* Horizontal scroll only */
	}
		
	.simply-scroll-list li img {
		border: none;
		display: block;
		padding:0 25px;
	}
	
	.simply-scroll,
	.simply-scroll-clip {
		width: 1170px;
		height: 100px;
	}
	
	li {
		.transition();
		
		a { 
		
			img {
				
			 }
		}
		
		&.brands_hover {
			opacity:.25;			
		}
		
		 &:hover {
			opacity:1;
		}
	}	

}



/* Testimonial Module 
---------------------*/
#testimonials {
	position:relative;
	padding:20px 0;
	margin:0;
	
	.testimonials_author {
		float: right;
		width: 20%;
		text-align: center;
		font-family:"Open Sans", Verdana, Geneva, sans-serif;
		font-size:16px;
		line-height:24px;
		
		p {
			margin-bottom:5px;
		}
		
		img {
			border-radius:100%;
			display: inline-block;
			width:120px;
			margin:0 0 12px;
			.transition();
			opacity:.7;
		}
	}
	
	.container:hover .testimonials_author img {
		.rotate(7deg);
		opacity:1;
	}
	
	blockquote {
		width:86%;
		float:left;
		margin:0;
		padding-left:7%;
		padding-right:7%;
		padding-top:20px;
		padding-bottom:20px;
		font-size: 24px;
		line-height: 40px;
		
		&:before,
		&:after {
			color:lighten(@bg_primary,0);
			opacity:.5;
			font-size:120px;
		}
		
		&:before {
			top:55px;
			left:10px;
		}
		
		&:after {
			bottom:-5px;
			right:15px;
		}
	}
	
	&.owl-theme .owl-controls {
		position:absolute;
		bottom: -77px;
		left:50%;
		margin:0;
		margin-left:-70px;
		
		.owl-buttons div {
			display:inline-block;
			width:55px;
			height:35px;
			border-radius:4px;
			background:#fff;
			background:rgba(255,255,255,.85);
			background-image:url("../images/showcase_arrows.png");
			background-repeat:no-repeat;
			background-position:top;
			margin:0 7px;
			padding:0;
			text-indent:-9999px;
			opacity:1;
			.transition();
			
			&.owl-next {
				background-position:bottom;			
			}
		}
	}
	
}


/* Social Icons module
----------------------*/
ul#jj_sl_navigation {
	opacity:.6;
	.transition();
	
	&:hover {
		opacity:1;
	}
	
	li {
		
		a {
			background-color:@bg_secondary!important;
			
			&:hover {
				background-color:lighten(@bg_secondary,10%)!important;
			}
		}
		
		&.jj_sl_facebook a:hover{ background-color: #3B5998!important; }
		&.jj_sl_twitter a:hover{ background-color: #62BDB2!important; }
		&.jj_sl_google a:hover{ background-color: #DB4A39!important; }
		&.jj_sl_myspace a:hover{ background-color: #3B64B3!important; }
		&.jj_sl_youtube a:hover{ background-color: #CC252C!important; }
		&.jj_sl_linkedin a:hover{ background-color: #4F93B3!important; }
		&.jj_sl_steam a:hover{ background-color: #111111!important; }
		&.jj_sl_lastfm a:hover{ background-color: #bf0d1c!important; }
		&.jj_sl_pinterest a:hover{ background-color: #b61d23!important; }
		&.jj_sl_soundcloud a:hover{ background-color: #ff5419!important; }
		&.jj_sl_tumblr a:hover{ background-color: #304e6c!important; }
		&.jj_sl_github a:hover{ background-color: #222222!important; }
		&.jj_sl_flickr a:hover{ background-color: #ff0084!important; }
		&.jj_sl_rss a:hover{ background-color: #FF6600!important; }
		&.jj_sl_vimeo a:hover{ background-color: #1BB7EA!important; }
	}
}


/* Twitter latest feed */
#social_twitter {
	margin: 10px 0 0;
	
	ul {
		margin:0;
		list-style-type:none;
	}
	
	div.user {
		float: left;
		margin: 20px 20px 20px 0;
		
		img {
			border-radius:100%;
		}
		
		span {
			display:none;
		}
		
	}
	
	p.tweet {
		font-size: 20px;
		line-height: 34px;
		font-family:"Coming Soon",Courier, monospace;
		margin-bottom: 5px;
		
	}
	
	p.timePosted {
		display: inline-block;
		color:@grayLight;
		font-style: italic;
		font-size: 13px;
	}
	
	p.interact {
		display: inline-block;
		padding-left: 20px;
		font-style: italic;
		font-size: 13px;
		
		a {
			display:inline-block;
			padding-right:10px;
		}
	}
}
	
	

/* Page Slide
-------------- */
.iceslide_link {
	z-index: 999;
	position:fixed;
	top:360px;
	left:0;
	.hexBackgroundToRGBA(@bg_primary, .8);
	border-left: none;
	color: #555;
	cursor: pointer;
	font-size: 26px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	box-shadow: 0 0 12px rgba(0,0,0,.1);
	border: 1px solid rgba(255,255,255,.1);
	border-left: 0;
	border-radius:0 3px 3px 0;
	.transition();
	
	&:hover {
		.hexBackgroundToRGBA(@bg_primary, 1);
	}
		
	span {
		background: url(../images/slide_icon.png) no-repeat center center;
		margin:0;
		display: inline-block;
		text-decoration:none;
		width: 100%;
		height: 100%;
		vertical-align: 0;
	}
	
	&:hover span { 
		-webkit-animation: icon_spin 2.5s linear infinite;
		-moz-animation:    icon_spin 2.5s linear infinite;
		-ms-animation:     icon_spin 2.5s linear infinite;
		-o-animation:      icon_spin 2.5s linear infinite;
		animation:         icon_spin 2.5s linear infinite;
	}

}	

#iceslide {
    display: none;
    position: fixed;
	overflow-x:scroll;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 280px;
    padding: 20px;
	background:#fff;
	box-shadow: 0 0 25px rgba(0,0,0,.2);
	color:#444;
	
	h3 {
		margin-bottom:0;
	
	}
	
	.close {
		background: @bg_primary;
		font-size: 20px;
		font-weight: normal;
		line-height: 20px;
		color: #fff;
		text-shadow: none;
		opacity: 1;
		text-decoration: none;
		position: absolute;
		top: 10px;
		right: 6px;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		text-align: center;
		
		&:hover {
			background: lighten(@bg_primary,5%);
			cursor: pointer;
		}
	}
			
}
		
/* some fancy animation to wow the visitors */	
@-webkit-keyframes icon_spin {
	0%   {  -webkit-transform:rotate(0);}
	100% { -webkit-transform:rotate(360deg);}
}
@-moz-keyframes icon_spin {
	0%   {  -webkit-transform:rotate(0);}
	100% { -webkit-transform:rotate(360deg);}
}
@-ms-keyframes icon_spin {
	0%   {  -webkit-transform:rotate(0);}
	100% { -webkit-transform:rotate(360deg);}
}
@-o-keyframes icon_spin {
	0%   {  -webkit-transform:rotate(0);}
	100% { -webkit-transform:rotate(360deg);}
}
@keyframes icon_spin {
	0%   {  -webkit-transform:rotate(0);}
	100% { -webkit-transform:rotate(360deg);}
}




/* Go Top link 
-------------*/
#gotop {
	position:relative;
	z-index:99;
	
	.scrollup {
		.hexBackgroundToRGBA(darken(@bg_body,15%), .7);
		width: 45px;
		height: 40px;
		border-radius:0;
		bottom:-40px;
		right:15px;
		text-indent: -9999px;
		position: fixed;
		z-index:99;
		opacity:0;
		.transition();
		
		&:after {
			content:"";
			width: 45px;
			height: 40px;
			top:0;
			left:0;
			position:absolute;
			background-image:url("../images/icon_top.png");
			background-repeat:no-repeat;
			background-position:center;
			.transition();
		}

		&:hover:after {
			.translate(0,-2px);
			opacity:1;
		}
	}
	
	&.gotop_active .scrollup {
		opacity:1;
		bottom:0;
		
		&:hover {
			.hexBackgroundToRGBA(darken(@bg_body,25%), .7);
		}
			
	}
}


/* Copyright IceTheme logo (footer)
-----------------------------------*/	
p#icelogo { 
	padding:20px 0 0;
	margin:0;
	text-align:center;
				
	a {
		width:92px;
		height:45px;
		background:url("../images/icetheme.png") no-repeat;
		display:inline-block;
		margin:0;
		opacity:.25;
		.transition();
				
		&:hover {
			.translate(0,-2px);
			opacity:.5;
		}
			
		span { 
			display:none;
		}
		
	}
	
}


					

/* YouTube Videos Responsive 
----------------------------*/
.video-container {
    position: relative;
    padding-bottom: 64%;
    padding-top: 30px;
	margin-bottom:10px;
	height: 0; 
	overflow: hidden;
 
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


/* Style Switcher
----------------- */	
ul#ice-switcher {
	position:fixed;
	width:180px;
	top:30%;
	background:#fff;
	background:rgba(255,255,255,.85);
	border-radius: 0;
	right:-170px;
	list-style-type:none;
	padding:5px 5px 0;
	opacity:.3;
	margin:0;
	z-index:99999;
	.transition();
	
	&:hover {
		right:-20px;
		opacity:1;
	}
	
	li {
		padding:0;
		margin:0;
		
		a {
			display:block;
			width:200px;
			font-family:Arial,Helvetica,sans-serif;
			height:30px;
			margin-bottom:5px;
			background:#222;
			color:#FFF;
			color:rgba(255,255,255,.75);
			.transition();
			
			span {
				padding-left:15px;
				line-height: 29px;
			}
		}
		
		&.active a,
		& a:hover {
			text-decoration:none;
			padding-top:20px;
			padding-bottom:20px;
		}
	
		
		&.style1 a {
			 background:#0096E3; 
		}
		&.style2 a {
			 background:#E66800;
		}
		&.style3 a {
			 background:#6DC900; 
		}
		&.style4 a { 
			background:#B300C8; 
		}
		&.style5 a {
			background:#A4AD00; 
		}
		&.style6 a {
			background:#6E6E6E; 
		}

	}
}

#overlay {
	display: none;
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:100000;
	background:rgba(0,0,0,.75);
}
	
.ice_css3_loading {
	top:50%;
	font-size: 100px;
	width: 1em;
	height: 1em;
	position: relative;
	margin: -60px auto 0;
	border-radius: 50%;
	border: .01em solid rgba(255,255,255,.15);
	list-style: none;
		
	li {
		position: absolute;
		width: .2em;
		height: .2em;
		border-radius: 50%;

		&:nth-child(1) {
			left: 50%;
			top: 0;
			margin: 0 0 0 -.1em;
			background: #00C176;
			-webkit-transform-origin: 50% 250%;
			-moz-transform-origin: 50% 250%;
			-ms-transform-origin: 50% 250%;
			-o-transform-origin: 50% 250%;
			transform-origin: 50% 250%;
			-webkit-animation: 
				rota 1.13s linear infinite,
				opa 3.67s ease-in-out infinite alternate;
			-moz-animation: 
				rota 1.13s linear infinite,
				opa 3.67s ease-in-out infinite alternate;
			-ms-animation: 
				rota 1.13s linear infinite,
				opa 3.67s ease-in-out infinite alternate;
			-o-animation: 
				rota 1.13s linear infinite,
				opa 3.67s ease-in-out infinite alternate;
			animation: 
				rota 1.13s linear infinite,
				opa 3.67s ease-in-out infinite alternate;
		}
			
		&:nth-child(2) {
			top: 50%; 
			right: 0;
			margin: -.1em 0 0 0;
			background: #FF003C;
			-webkit-transform-origin: -150% 50%;
			-moz-transform-origin: -150% 50%;
			-ms-transform-origin: -150% 50%;
			-o-transform-origin: -150% 50%;
			transform-origin: -150% 50%;
			-webkit-animation: 
				rota 1.86s linear infinite,
				opa 4.29s ease-in-out infinite alternate;
			-moz-animation: 
				rota 1.86s linear infinite,
				opa 4.29s ease-in-out infinite alternate;
			-ms-animation: 
				rota 1.86s linear infinite,
				opa 4.29s ease-in-out infinite alternate;
			-o-animation: 
				rota 1.86s linear infinite,
				opa 4.29s ease-in-out infinite alternate;
			animation: 
				rota 1.86s linear infinite,
				opa 4.29s ease-in-out infinite alternate;
		}
		
		&:nth-child(3) {
			left: 50%; 
			bottom: 0;
			margin: 0 0 0 -.1em;
			background: #FABE28;
			-webkit-transform-origin: 50% -150%;
			-moz-transform-origin: 50% -150%;
			-ms-transform-origin: 50% -150%;
			-o-transform-origin: 50% -150%;
			transform-origin: 50% -150%;
			-webkit-animation: 
				rota 1.45s linear infinite,
				opa 5.12s ease-in-out infinite alternate;
			-moz-animation: 
				rota 1.45s linear infinite,
				opa 5.12s ease-in-out infinite alternate;
			-ms-animation: 
				rota 1.45s linear infinite,
				opa 5.12s ease-in-out infinite alternate;
			-o-animation: 
				rota 1.45s linear infinite,
				opa 5.12s ease-in-out infinite alternate;
			animation: 
				rota 1.45s linear infinite,
				opa 5.12s ease-in-out infinite alternate;
		}
		
		&:nth-child(4) {
			top: 50%; 
			left: 0;
			margin: -.1em 0 0 0;
			background: #88C100;
			-webkit-transform-origin: 250% 50%;
			-moz-transform-origin: 250% 50%;
			-ms-transform-origin: 250% 50%;
			-o-transform-origin: 250% 50%;
			transform-origin: 250% 50%;
			-webkit-animation: 
				rota 1.72s linear infinite,
				opa 5.25s ease-in-out infinite alternate;
			-moz-animation: 
				rota 1.72s linear infinite,
				opa 5.25s ease-in-out infinite alternate;
			-ms-animation: 
				rota 1.72s linear infinite,
				opa 5.25s ease-in-out infinite alternate;
			-o-animation: 
				rota 1.72s linear infinite,
				opa 5.25s ease-in-out infinite alternate;
			animation: 
				rota 1.72s linear infinite,
				opa 5.25s ease-in-out infinite alternate;
		} 
	}	
}
	
@-webkit-keyframes rota {
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rota {
	to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes rota {
	to { -ms-transform: rotate(360deg); }
}

@-o-keyframes rota {
	to { -o-transform: rotate(360deg); }
}

@keyframes rota {
	to { transform: rotate(360deg); }
}

@-webkit-keyframes opa {
	12.0% { opacity: 0.80; }
	19.5% { opacity: 0.88; }
	37.2% { opacity: 0.64; }
	40.5% { opacity: 0.52; }
	52.7% { opacity: 0.69; }
	60.2% { opacity: 0.60; }
	66.6% { opacity: 0.52; }
	70.0% { opacity: 0.63; }
	79.9% { opacity: 0.60; }
	84.2% { opacity: 0.75; }
	91.0% { opacity: 0.87; }
}

@-moz-keyframes opa {
	12.0% { opacity: 0.80; }
	19.5% { opacity: 0.88; }
	37.2% { opacity: 0.64; }
	40.5% { opacity: 0.52; }
	52.7% { opacity: 0.69; }
	60.2% { opacity: 0.60; }
	66.6% { opacity: 0.52; }
	70.0% { opacity: 0.63; }
	79.9% { opacity: 0.60; }
	84.2% { opacity: 0.75; }
	91.0% { opacity: 0.87; }
}

@-ms-keyframes opa {
	12.0% { opacity: 0.80; }
	19.5% { opacity: 0.88; }
	37.2% { opacity: 0.64; }
	40.5% { opacity: 0.52; }
	52.7% { opacity: 0.69; }
	60.2% { opacity: 0.60; }
	66.6% { opacity: 0.52; }
	70.0% { opacity: 0.63; }
	79.9% { opacity: 0.60; }
	84.2% { opacity: 0.75; }
	91.0% { opacity: 0.87; }
}

@-o-keyframes opa {
	12.0% { opacity: 0.80; }
	19.5% { opacity: 0.88; }
	37.2% { opacity: 0.64; }
	40.5% { opacity: 0.52; }
	52.7% { opacity: 0.69; }
	60.2% { opacity: 0.60; }
	66.6% { opacity: 0.52; }
	70.0% { opacity: 0.63; }
	79.9% { opacity: 0.60; }
	84.2% { opacity: 0.75; }
	91.0% { opacity: 0.87; }
}

@keyframes opa {
	12.0% { opacity: 0.80; }
	19.5% { opacity: 0.88; }
	37.2% { opacity: 0.64; }
	40.5% { opacity: 0.52; }
	52.7% { opacity: 0.69; }
	60.2% { opacity: 0.60; }
	66.6% { opacity: 0.52; }
	70.0% { opacity: 0.63; }
	79.9% { opacity: 0.60; }
	84.2% { opacity: 0.75; }
	91.0% { opacity: 0.87; }
}




/* Add this Plugin 
-------------------*/		
.joomla_add_this {
	opacity:.25;
	overflow:hidden;
	margin-bottom:20px;
	.transition();
	
	&:hover {
		opacity:1;
	}
		
	.addthis_button_facebook_like { 
		margin-right:20px;
	}
}


/* Facebook like box responsive */
#fb-root {
  display: none;
}

.fb_iframe_widget {
	 margin: 0 -10px;
}
 

body .sidebar_module_content {
	.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
		width:105%!important;
	}
}

	

/* Page Peel 
-------------*/
#peelback {
	position:relative;
	z-index:999;
	
	&.peelback_fixed {
		position:fixed;
		top:0;
		right:0;
	}
}


/* Mod Responsive Contact form 
-------------------------------*/
#contact-form .input-80 {
  max-width: none;
  min-width: 60%;
  width: auto;
}

/* Komento component 
----------------------*/
#section-kmt {
	
	h3.kmt-title {
		background:@grayLight;
		color:#fff;
		/* text-shadow: 1px 1px 1px darken(@bg_primary,15%); */			
		font-size: 16px;
		text-transform: initial;
	}
}

/* Komento module 
------------------*/
.kmt-mod {
	
	.mod-comment-text {
		font-size:14px;
		
		.mod-comment-page {
			font-size:12px;
		}
	}
}



/*  MijoPolls 
-------------*/
.mijopoll,
#poll_comp_form {
	padding: 0!important;
	  
	h4 {
		font-size: 18px;
		font-weight: normal;
		line-height: 26px;
	}
	  
	input[type="radio"], 
	input[type="checkbox"] {
		  margin-top: -3px;
		  margin-right: 1px;
	}
	
	.btn {
		margin-top:14px;	
	}
	
	
	div#poll_loading_1 { 
		background: url("../images/mijopoll_loading.gif") no-repeat center left;
		height: 38px;
		padding: 15px 12px 0px 26px;
		width: 100%;
	}
}


/***********************************************************************************************/
/*  Custom Pages */
/***********************************************************************************************/

/* About Us 
**************/
body.page-about {

	blockquote  {
		text-align: center;
		
		p {
		}
		
		&:before {
		}
		
		&:after {
		}
	}
	
	.page-team {
		text-align:center;
		
		h3 {
			margin: 0;
			text-align:center;
		}
		
		em {
			text-align: center;
			display: block;
			color: @grayLight;
			margin-bottom: 15px;
		}	
		
		ul {
			margin:0 0 25px;
			padding:0;
			
			li {
				display: inline-block;
				
				a {
					text-decoration:none;
					display: inline-block;
					color:@grayLight;
					font-size: 24px;
					margin:0 2px;
					.transition();
					
					&:hover {
						color:@bg_primary;
					
					}
				}
			}
		}
		
		> div:hover img {
			opacity:.75;
			.rotate(5deg);
			.transition();
		}
	}	
}
		


/* Contact Us Page
********************************/
body.page-contact {
	
	
	ul.icesocialblock {
		margin:30px 0 25px;
		padding:0;
		
		li {
			display: inline-block;
			
			a {
				text-decoration:none;
				display: inline-block;
				color:lighten(@grayLight,10%);
				font-size: 46px;
				margin:0 2px;
				.transition();
				
				&:hover {
					color:@bg_primary;
				
				}
			}
		}
	}
	
	
}

			
	
/* Pricing Table 
******************/
body.page-pricing {
	
	div.pricing-table {
		padding-top: 18px;
		
		.pricing-table-header {
			#gradient .vertical(lighten(@bg_secondary,5%),lighten(@bg_secondary,0%));
			margin: -30px -20px 20px;
			padding: 0 20px;
			text-align: center;

			h2 {
				color:#fff;
				margin:0;
				padding: 0 0 15px;
				font-family:"Open Sans",Arial, Helvetica, sans-serif;
			}
			
			h3 {
				color:#fff;
				margin: 0;
				padding: 10px 0 0;
			}
			
		}
		
		.pricing-table-body {
		
		}
		
		.pricing-table-footer {
			border-top:1px dotted lighten(@grayLight,20%);
			padding-top: 16px;
			text-align:center;
			margin-bottom:-18px;		
		}
		
	}
}



/* F.A.Q
**************/
body.page-faq {
	
	.accordionfaq {
		
		.accordionfaqheader {
			background:#eee;
			border-color:#ccc;
			font-family:"Open Sans",Arial, Helvetica, sans-serif;
			font-size: 16px!important;
			padding-top: 7px !important;
			padding-bottom: 7px!important;
			
			a {
				font-weight:normal!important;
				background-color:transparent!important;
			}

		}
		
		.accordionfaqitem {
			background-color: #fff!important;
			padding: 0;
			
			P {
				padding: 10px 22px 5px;
				margin-bottom: 0;
			}
		}
	}
}
		


	
/* Portfolio Component
-------------------------------- */	
.portfolio-listpage-portfolio {
	
	.projects-filter {
		border-bottom: 1px dashed #d1d1d1;
		
		ul {
			li {
				padding: 0 4px 0 0;
				
				a:link,
				a:visited {
					padding: 8px 12px;
					font-size:14px;
					color:@grayLight;
					
					&:hover {
						background:none;
						color:@heading_color;
					}
					
					&.selected,
					&.selected:hover {
						background:lighten(@bg_primary,5%);
						color:#fff!important;
					}
				}
			}
		}
	}
	
	.projects-wrapper {
		
		.isotope-item {
			
			.project-img {
				margin-bottom:16px;
			}
			
			h4 {
				font-weight: normal;
				margin: 0 0 5px;

			}
			
			&.column-3 {
				width:30.2%
			}
			
		}
		
	}
	
}

.item-pagepage-portfolio {
	
	.project-nav {
		margin-top: -40px;
		
		a {
			background-color:lighten(@bg_primary,10%);
			
			&:hover {
				background-color:lighten(@bg_primary,20%);
			}
		}
	}
	
	.project-wrapper .flex-direction-nav li a {
		background-color:lighten(@bg_primary,10%);
		
		&:hover {
			background-color:lighten(@bg_primary,20%);
		}
	}
	
}


/* Photo Gallery (plugin)
-------------------------------- */	
ul.sige li .sige_thumb img {
	.transition();
	
	&:hover {
		opacity:.7;
	}
}

p.sige_small {
	margin-top:25px;
	font-size:13px;
	
	a {
		color:@grayLight;
	}
}



/* Offline Page and Error Page 
-------------------------------- */		
body.offline_page,
body.error_page {

	#logo_page {
		text-align:center;
		float:none;
		margin: 0;
		padding:45px 0;
	}
	
	#content_page {
		max-width:600px;
		background:#fff;
		padding:40px;
		margin:0 auto 60px;
		border-radius:0;
		border:none;
		
		.alert_custom {
			margin-bottom:50px;
			font-size: 18px;
			text-align:center;
			line-height: 30px;
		}
		
	}
}
		
body.error_page {
	
	h2 {
		font-size: 28px;
		margin: 0 0 15px;
		border: none;
	}
	
	a.btn {
		color:@text_color;
	}
		
}
	
body.offline_page {
	
	h2 {
		margin:0 0 20px;
		padding:0;
		text-align:center;	
	}
	
	.alert {
		margin-bottom:40px;	
	}
	
	/* Countdown */
	ul#countdown {
		margin: 0;
		padding: 0 0 45px;
		text-align: center;

		li {
		  display: inline-block;
		  background:transparent;
		  border:5px solid #F1F1F2;
		  width: 104px;
		  margin: 0;
		  padding:0;
		  text-align: center;
		
			span {
				font-family: "Open Sans", Arial, Helvetica, sans-serif;
				font-size: 48px;
				color: #333;
				line-height: 40px;
				position: relative;
				padding-top: 20px;
				display: block;
				
			}
		
			p.timeRefDays,
			p.timeRefHours,
			p.timeRefMinutes,
			p.timeRefSeconds {
			  margin-top: 1em;
			  color: #909091;
			  text-transform: uppercase;
			  font-size: .875em;
			}
		}	
	}
	
	/* Login form */
	#offline_form_msg {
		margin-top:40px;		
	}
	
	#offline_login {
		display:none;		
	}
	
	/* Social Icons */
	#offline_social {
		margin:10px 0 30px;
		
		ul {
			margin: 0;
			padding: 0;
			text-align: center;
			
			li {
				display: inline-block;
				
				a {
					display: inline-block;
					width: 50px;
					height: 50px;
					border-radius: 50px;
					background: #F1F1F2;
					color: #777;
					margin: 0 2px;
					font-size: 28px;
					line-height: 50px;
					.transition();
					
					&:hover {
						color:@bg_primary;
					
					}
				}
			}
		}
	}
}



