/*********************************************************************************/
/* General  */
/*********************************************************************************/
body {
	background-color:@bg_body;
	background-image:url("../images/bg_pattern.png");
	background-repeat:repeat;
	background-position:center;
	background-attachment:fixed;
	
	&.body_preload {
		
		.body_preload_area {
			background: rgba(255,255, 255, 0.75);
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index: 999999999;
			
			.spinner {
				margin: 25% auto 0;
				width: 70px;
				text-align: center;
				
				div {
					width: 18px;
					height: 18px;
					background-color: lighten(@bg_primary,5%);
					border-radius: 100%;
					display: inline-block;
					-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
					animation: bouncedelay 1.4s infinite ease-in-out;
					/* Prevent first frame from flickering when animation starts */
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
				}
				
				.bounce1 {
					-webkit-animation-delay: -0.32s;
					animation-delay: -0.32s;
				}
				
				.bounce2 {
					-webkit-animation-delay: -0.16s;
					animation-delay: -0.16s;
				}
			}
		}
	}
}


@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*********************************************************************************/
/* HEADER */
/*********************************************************************************/
#usermenu {
	//background:darken(@bg_body,18%);
	//border-bottom:1px solid rgba(255,255,255,.75);
	padding:5px 0;
	margin:0;
	//color:#fff;
	//text-shadow:1px 1px 1px darken(@bg_body,30%);
	overflow:hidden;
	
	&.no-slideshow {
		
	}
	
	p.welcome_site {
		margin:0;
		padding:0;
		font-size:13px;
		font-style:italic;
		float:left;
	}
	
	ul {
		margin-bottom:0;
		padding:0 0;
		float:right;
		
		li {
			display:inline-block;
			margin:0 0 0 15px;
			line-height:normal;
		
			a {
				font-size:13px;
				color:#fff;
				.transition();
				
				&:hover {
					background:none;
					color:#fff;
					text-decoration:none;
					text-shadow:0 0 12px rgba(255,255,255,.7);
				}				
			}
		}
	}
}	


#header {
	position:absolute;	
	top:0;
	width: 100%;
	z-index: 9;
	background: rgba(255,255,255, 0.75);

	&.header_fix_cart{
		z-index: unset;
	}
	
	&.no-slideshow {
		background:none;
		position:relative;
		top:auto;
		width:auto;
	}
	
	#logo {
		float:left;
		margin:30px 0;
		-webkit-animation: LOGO 1s 1; 
		-moz-animation:    LOGO 1s 1; 
		-o-animation:      LOGO 1s 1; 
		animation:         LOGO 1s 1; 
	}
	
	#language {
		float:right;
		margin:9px 0 0 15px;
	}
	
	#search {
		position:relative;
		float:right;
		clear: right;	
		margin: 25px 0 0px;	
	}
	
	#header_contact {
		float: right;
		font-size: 14px;
		font-family: @OpenSans;
		padding-top: 9px;
		margin-left: 28px;
		
		p {
	 		margin-bottom: 0;
		}
	
		[class^="icon-"] {
			color: @bg_primary;
			font-size: 18px;
			line-height: 18px;
			padding-right: 7px;
		}
	}
	
	#topmenu {
		float:right;
		margin-top: 9px;
		
		ul {
			margin-bottom:0;
			padding:0 0;
			
			li {
				display:inline-block;
				margin:0 0 0 15px;
				line-height:normal;
			
				a {
					font-size:13px;
					.transition();
					
					&:hover,
					&:focus {
						background:none;
						text-decoration:none;
					}				
				}
			}
		}
	}	
}

	
@-webkit-keyframes LOGO {
  0%   { .scale(.5); opacity:0; }
  100% { .scale(1); opacity:1; }
}
@-moz-keyframes LOGO {
  0%   { .scale(.5); opacity:0; }
  100% { .scale(1); opacity:1; }
}
@-o-keyframes LOGO {
  0%   { .scale(.5); opacity:0; }
  100% { .scale(1); opacity:1; }
}
@keyframes LOGO {
  0%   { .scale(.5); opacity:0; }
  100% { .scale(1); opacity:1; }
}	


/*********************************************************************************/
/* CONTENT */
/*********************************************************************************/
#content {
	position:relative;
	padding:60px 0 45px;
	margin:0;
	
	&:before {
		content:"";
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:220px;
		#gradient .vertical(rgba(255,255,255,.3),rgba(255,255,255,.0));
		z-index: -9;
	}
	
	&.no-slideshow {
		padding-top:15px;
		
		&:before {
			display:none			
		}
	}

	#content_inside {		
	}
		
	
	/* Message */
	#message {
		background: rgba(255,255,255,.5);
		border-top:1px solid rgba(0,0,0,.15);
		border-bottom:1px solid rgba(0,0,0,.15);
		padding:20px;
		margin:10px 0 30px;
		text-align:center;
		
		.moduletable {
			
			> h3 {
				text-align:center;
				border-bottom:3px solid lighten(@bg_primary,10%);
				margin-bottom: 20px;
				font-family:"Coming Soon", @heading_font;
				display:inline-block;
				font-size: 27px;
				line-height: 38px;
				padding-bottom: 6px;
			}
		}
	}
	
	
	/* Middle Column */
	#middlecol { 
		clear:both;
		float:left;
		position:relative;
		margin-bottom: 0;
		min-height:350px;
		color:#444;
		padding:0;
		background:#fff;
		padding:15px;	
		
		.inside { padding-bottom:0; }
		
		&.sidebar_left {
			float:right;		
		}
	}
	
	/* Sidebar */
	#sidebar {
		background:#fff;
		position: relative;
		padding:12px;
		
		/* Sidebar Modules */
		.sidebar_module {
			position: relative;
			padding:0;
			margin-bottom:35px;
			
			&:last-child {
				margin-bottom:0;
			}
			
			.sidebar_module_heading {
				font-size:20px;
				line-height: 28px;
				margin: 0 0 12px;
				padding: 0 0 7px;
				position:relative;
				border-bottom:3px solid #424242;
				
				 span.heading_subtitle {
					display: block;
					font-size: 13px;
					font-family: Verdana, Arial, Geneva, sans-serif;
					padding: 0;
					line-height: 1.35em;
					color:@grayLight;
					margin-bottom: 3px;
					margin-top: -3px;
					text-shadow: none;
				}			
			}
			
			.sidebar_module_content { 
				padding:0;
			}
			

			/* (style-1) module class suffix */
			&.sidebar_module_style-1 {
				
				.sidebar_module_heading {
					border-bottom-color:lighten(@bg_primary,10%);
				}
			}
				
			/* (style-2) module class suffix */
			&.sidebar_module_style-2 {
				
				.sidebar_module_heading {
					 border-bottom-color:#ea5f09;
				}
			}
			
			
			/* joomla menu on sidebar */
			ul.menu li {
				line-height:34px;
			
				&.divider {
					display:none;}
					
				a {
					color:@text_color;
					padding:2px;
					line-height: 30px;
					border-bottom:1px dotted lighten(@grayLight,22%);
					.transition(); 
					
					&:hover {
						background:lighten(@grayLight,30%);
						padding-left:10px;
						text-decoration:none;
					}
				}
				
				&.active a {
					padding-left:10px;
					color:#111;
					background:lighten(@grayLight,30%);
				}
				
				&.dropdown-submenu > a:after {
					display:none;
				}
			}
		}
		
		
		
		&.sidebar_left {
			margin-left:0;	
			
			.sidebar_module .sidebar_module_heading {
				margin-left:-25px;
				margin-right:0;
				border-radius:0 7px 7px 0;
				padding-left:30px;
				
				&:after {
					right:auto;
					left:0;
				}
			}
		}
		
	}	
}


#promo {
	margin:10px 0 15px;
	
	.moduletable {
		position: relative;
		margin-bottom:20px;
		
		.moduletable_heading {
			font-size: 20px;
			line-height: 28px;
			margin:0 0 12px;
			padding:0;
			
			 span.heading_subtitle {
				display: block;
				font-size: 13px;
				font-family: Verdana, Arial, Geneva, sans-serif;
				padding: 0;
				line-height: 1.35em;
				color:@grayLight;
				margin-bottom: 0;
				margin-top: 0;
				text-shadow: none;
			}			
		}
		
		.moduletable_content {
			
			a img {
				.transition();
			}
			
			
			a:hover img {
				.rotate(5deg);
				opacity:.7;
			}
				
			p {
			}
			
			img {
				border-radius: 100%;
			}
		}
	}
}


/* Showcase and Tagline mods 
-----------------------------*/
#showcase {
	background:lighten(@bg_body,5%);
	background-size: cover;
	padding:45px 0 120px;
	margin: 15px 0 45px;
	position:relative;
	
	&.no-testimonial {
		padding-bottom:45px		
	}
	
	hr {
		border:none;
		overflow: hidden;
	}
	
	&:before,
	&:after {
		content:"";
		position:absolute;
		top:0;
		left:0;
		background:rgba(255,255,255,.20);
		width:100%;
		height:10px;
		z-index: 9;
	}
	
	&:after {
		top:auto;
		bottom:0;
	}
	
	#showcase_inner {
		background: rgba(255, 255, 255, 0.85);
		margin: 0;
		padding: 12px;
		border-radius: 4px;
	}
		
	#showcase-modules {
		margin:15px;
	
		.moduletable {
			margin-bottom:0;
			
			.moduletable_heading {
				font-size: 20px;
				line-height: 28px;
				margin:0 0 12px;
				padding:0;
				
				 span.heading_subtitle {
					display: block;
					font-size: 13px;
					font-family: Verdana, Arial, Geneva, sans-serif;
					padding: 0;
					line-height: 1.35em;
					color:@grayLight;
					margin-bottom: 0;
					margin-top: 0;
					text-shadow: none;
				}			
			}
			
			.moduletable_content { 
			
				.btn.icebtn {
					
					
					&:hover {
					}
						
				}
			}
		}
	}
	
	#tagline {
		padding:0;
		text-align:center;
					
		h1 {
			font-family:@heading_font;
			font-size: 38px;
			line-height: 52px;
			margin-bottom: 10px;
			
			span {
			}
			
			a {
				
				&:hover {
				}
			}
		}
		
		p {
			font-family:@OpenSans;
			font-size:16px;
			line-height:28px;			
		}
		
		.btn.icebtn {
			font-size: 18px;
			font-family:"Open Sans", @heading_font;
			padding: 8px 18px 9px;
			line-height: 26px;
			margin: 16px 0 15px;
			
			&:hover {
			}
				
		}
	}
	
}

		
/*********************************************************************************/
/* FOOTER */
/*********************************************************************************/
#footer {
	
	/* Copyright */
	#copyright {
		position:relative;
		margin: 0 0 30px;
		padding: 9px 12px 8px;
		font-size:13px;
		text-align:center;
		background: rgba(255,255,255,.5);
		border-top:1px solid rgba(0,0,0,.15);
		border-bottom:1px solid rgba(0,0,0,.15);
		
		p.copytext {
			display:inline-block;
			clear:both;
			display:inline-block;
			text-align:center;
			padding:0;
			margin:0;
			color:@grayLight;
		}
		
		ul.menu {
			display:inline-block;
			clear:none;
			float:none;
			text-align:center;
			display:inline-block;
			list-style-type:none;
			margin:0;
			padding: 0;
		
			li {
				display:inline;
				position:relative;
				
				a {
					font-size:13px;
					padding: 0 0 0 9px;
					display:inline-block;
					margin:0 3px; 
					color:@grayLight;
					.transition();
					
					&:hover {
						background:none;
						color:@text_color;
						opacity:1!important;
					}
				}
			}
		}
	}
	
	/* footer module position */
	.moduletable {
		margin-top:10px;
		margin-bottom:35px;		
		
		.moduletable_heading {
			font-size:20px;
			line-height: 28px;
			margin:0 0 12px;
			padding:0;
			
			
			span {
				display: block;
				font-size: 13px;
				font-family: Verdana, Arial, Geneva, sans-serif;
				padding: 0;
				color:@grayLight;
				line-height: 1.3em;
				margin-bottom: 0;
				margin-top: 0;
				text-shadow: none;
			}
		}
		
		.icebtn {
			
			&:hover {
			}
		}
		
		a {
			
			&:hover {
			}		
				
		}
			
	}
	
}

	

	
