/***********************************************************************************************/
/* MainMenu */
/***********************************************************************************************/


#mainmenu {
	position:relative;
	clear:both;
	margin:0;
	#gradient .vertical (lighten(@bg_primary,5%),lighten(@bg_primary,0%));
	border-radius:7px;
	height:auto;
	margin:0 0 30px;
	

	.navbar-inner {
		background:none;
		box-shadow: none;
		border-radius: 0;
		border: none;
		padding: 0;
		margin:0;
		
		ul.nav {
			margin-right:5px;
				
			> li {
				padding-right:5px;
				
				&:first-child a {
					border-radius: 7px 0 0 7px;
					overflow:hidden;
				}
				
				> a {
					position:relative;
					font-family:"Open Sans", @heading_font;	
					color:#fff;
					text-shadow:1px 1px 1px darken(@bg_primary,10%);
					font-size: 15px;
					padding: 13px 8px 12px;
					outline:none;
					z-index:9;
					box-shadow: none;
					.transition();
					
					.caret {
						border-top-color:lighten(@bg_primary,20%);
						border-bottom-color: lighten(@bg_primary,20%);
						margin-top: 10px;
					}
					
					&:hover {
						//background-color:darken(@bg_primary,5%);
						// #gradient .vertical (darken(@bg_primary,0%),darken(@bg_primary,5%));
						text-shadow:1px 1px 15px rgba(255,255,255,.75);
					}
					
					&:after {
						
					}
					
				}
				
				&.active {
					position:relative;
					
					> a	{
						color:#fff;
						text-shadow:1px 1px 15px rgba(255,255,255,.75);
						background:none;
						#gradient .vertical (darken(@bg_primary,0%),darken(@bg_primary,5%));
						
						.caret {
							// border-top-color:lighten(@bg_secondary,25%);
							// border-bottom-color: lighten(@bg_secondary,25%);
						}
					}
					
					 &:after {
						content: "";
						position: absolute;
						bottom: -7px;
						left: 50%;
						margin-left: -15px;
						width: 0; 
						height: 0; 
						border-left: 14px solid transparent;
						border-right: 14px solid transparent;
						border-top: 12px solid darken(@bg_primary,5%);
						z-index:9;
					} 
				}	
				
				&.dropdown.open > a	{
					#gradient .vertical (darken(@bg_primary,0%),darken(@bg_primary,5%));
					
					
					.caret {
						border-top-color:#fff;
						border-bottom-color: #fff;
						margin-top: 10px;
					}
				}	
				
			}
		}
	}
	
	.dropdown-menu {
		background:darken(@bg_primary,5%);
		min-width: 180px;
		border-radius: 0;
		border: 0;
		margin:0;
				
		&:before,
		&:after {
			display:none!important;
		}
		
		> li {
			margin-bottom:1px;
			
			> a {
				padding: 3px 14px;
				color:#fff;
				text-shadow:1px 1px 1px darken(@bg_primary,10%);
				.transition();
				
				&:hover,
				&:focus {
					background:darken(@bg_secondary,0%);
				}
			}
			
			&.active > a {
				background:darken(@bg_secondary,0%);
			}
				
		}
		
		.divider {
			background: darken(@bg_primary,10%);
			border-bottom-color:lighten(@bg_primary,25%);
		}
		
		.nav-header {
			color:#fff;
			text-shadow:1px 1px 1px darken(@bg_primary,10%);
			border-bottom:1px dotted lighten(@bg_primary,25%);
			font-size: 13px;
			padding: 15px 0 2px;
			margin: 0 14px 4px;
		}
	}
	
	
	.dropdown-submenu {
		
		&:hover > a {
			background:darken(@bg_primary,5%);
		}
		
	}
	
}

	
/* ipad dropdown fix */
body.ipad #mainmenu li.dropdown-submenu .dropdown-menu {
	display:block;
}

/* Remove double-tap for iPad */
.ipad #mainmenu .navbar-inner ul.nav > li > a:hover:after {
	display:none!important;
}
/* Fixed showcase background position for iPad */
.ipad #showcase {
	background-position: center center!important;
}


/* adjust for search toogle  */
#mainmenu.mainmenu_closed .navbar-inner ul.nav > li > a {
	padding-left:6px;
	padding-right:6px;
}
	
#mainmenu.mainmenu_closed .navbar-inner ul.nav > li:first-child a{
	padding-left:25px;
}




/* sliding animation 
---------------------*/
@media only screen and (min-width: 979px) {

	#mainmenu .dropdown-menu {
	   display: block;
	   -webkit-transform-origin: top;
	  transform-origin: top;
	  -webkit-animation-fill-mode: forwards;  
	  animation-fill-mode: forwards; 
	  -webkit-transform: scale(1, 0);
	  transform: scale(1, 0);  
	  .transition();
	  opacity:0;
	}
	
	#mainmenu .open > .dropdown-menu {
	  -webkit-transform: scale(1, 1);
	  transform: scale(1, 1); 
	  opacity:1; 
	  
	}
	
	#mainmenu li.dropdown-submenu > .dropdown-menu {
	  -webkit-transform-origin: top;
	  transform-origin: bottom;
	  -webkit-animation-fill-mode: forwards;  
	  animation-fill-mode: forwards; 
	  -webkit-transform: scale(0, 1);
	  transform: scale(0, 1);  
	  
	}
	
	#mainmenu li.dropdown-submenu:hover > .dropdown-menu {
		webkit-transform: scale(1, 1);
	  transform: scale(1, 1); 
	  opacity:1; 
		
	}
	
}
	
