/**********************************************************************************

	@copyright	Copyright (C) 2013 IceTheme. All Rights Reserved
	@license	Copyrighted Commercial Software 
	@author     IceTheme (icetheme.com)
	
**********************************************************************************/

/* Import LESS variables and mixins files */
@import "../../../../media/jui/less/variables.less";
@import "../../../../media/jui/less/mixins.less";

/* Import Template Variables */
@import "vars.less";

/* Responsive Utilities */
@import "../../../../media/jui/less/responsive-utilities.less";

// Phones to portrait tablets and narrow desktops
@import "../../../../media/jui/less/responsive-767px-max.less";

// Tablets to regular desktops
@import "../../../../media/jui/less/responsive-768px-979px.less";

// Large desktops
@import "../../../../media/jui/less/responsive-1200px-min.less";

// From 979px and below, show a button to toggle navbar contents
@import "../../../../media/jui/less/responsive-navbar.less";

// div.modal (instead of .modal)
@import "../../../../media/jui/less/responsive-767px-max.joomla.less";



/*********************************************************************************/
/* DESKTOP XL */
/*********************************************************************************/
@media @desktop_xl {
	
	#mainmenu .navbar-inner ul.nav > li > a {
		padding-left:13px;
		padding-right:13px;
		font-size:17px;
	}
	
	#slideshow {
		
	}
	
	
	.row-fluid .span6 #contact-form {
		
		&.form-horizontal .input-80 {
			min-width:75%;
		}
	}
	

}



/*********************************************************************************/
/* DESKTOP */
/*********************************************************************************/
@media @desktop {
	
	
	/* NORMALLY, THIS PART IS ALREADY DEFINED (WHEN RESPONSIVE IS DISABLED) */
	
	#header #topmenu {
		clear:right;
	}
	

	#header #search {
		margin: 10px 0 12px;
	}
	
}



/*********************************************************************************/
/* TABLET */
/*********************************************************************************/
@media @tablet {
	
	
	#header {
		position:relative;
		background:none;
		padding:25px 0 0;
		
		#logo {
			float:none;
			text-align:center;
			margin: 20px 0;
		}
	
		#vm-categories .vm-categories_link {
			margin:0;
		}
		
		#vm-categories ul.VMmenu {
			left:0;
		}
	}
	
	#mainmenu {
		height:auto;
		margin: 0 0 30px;
		border-radius: 10px;
		background:@bg_primary;
		
		&.navbar .btn-navbar {
			border-radius:4px;
			background:@bg_secondary;
			border:none;
			margin: 10px;
			.transition();
			
			&:hover {
				background:lighten(@bg_secondary,5%);
			}				
		}
		
		.navbar-inner {
			border-radius:0;
			
			.nav-collapse.pull-right {
				float:none;
			}
		}
		
		.navbar-inner ul.nav  {
			margin:0;
		}
		
		.navbar-inner ul.nav > li {
			padding:0 0 5px 0;
		}
		
		.navbar-inner ul.nav > li > a,
		.navbar-inner ul.nav > li > a:hover {
			background: none;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 12px!important;
			border-radius:0!important;
			margin:0;
			font-weight: normal;
			text-shadow:1px 1px 1px darken(@bg_primary,10%)!important;
			
			&:after {
				border-radius:0;
			}
			
			 .caret {
				 border-top-color:lighten(@bg_primary,25%)!important;
				 border-bottom-color: lighten(@bg_primary,25%)!important;
			 }
		}
		
		.navbar-inner ul.nav > li.active > a,
		.navbar-inner ul.nav > li.dropdown.open > a {
			background:darken(@bg_primary,5%);
		}
		
		.navbar-inner ul.nav > li.active:after {
			display:none;
		}
		
		.navbar-inner .dropdown-submenu > .dropdown-menu {
			display:block;
			-webkit-transform: scale(1, 1);
			transform: scale(1, 1);
			opacity: 1;
		}
		
		.navbar-inner .dropdown-submenu > a:after {
			display:none;
		}
		
		/* search module on main menu */
		#search_toogle {
			display: none!important;		
		}
		
		#search {
			display:block!important;
			opacity:1!important;
			margin:10px!important;
			float:left!important;
			
			.inputbox {
				width: 140px!important;
				padding-left: 10px!important;
				padding-right: 55px!important;
			}
		}
	}
	
	#cart {
		float:none;
		border-radius:0 0 7px 7px;
	}
		
	
	#content {
		padding-top: 30px;
	}
	
	#banner_area {
		padding-bottom:30px;
	}
	
	#content:before {
		display:none;
	}
	
	.row-fluid #middlecol.span9 {
		/* width: 65.74585635359117%; */
		width:100%;
	}
	
	.row-fluid #sidebar.span3 {
		/* width: 31.491712707182323%; */
		width:100%;
	}
	
	body #content > .container > .row-fluid {
		overflow:visible;
	}
	
	body #content #middlecol,
	body #content #sidebar {
		margin: 0 0 25px!important;
		padding-bottom:0!important;
	}
	
	
	#slideshow .camera_caption .camera_caption_title {
		font-size: 24px;
		line-height: 32px;
	}
	
	#slideshow .camera_caption .camera_caption_desc {
		font-size: 14px;
		line-height: 20px;
		margin-top: 0;
	}
	
	#slideshow .camera_pag {
		display:none;
	}
	
	#slideshow .camera_caption > div {
		background:rgba(0,0,0,.7);
		padding-top:20px;
		padding-bottom:10px;
	}
	
	#slideshow .camera_loader {
		top:50%;
		-ms-transform: scale(.75);
		-webkit-transform: scale(.75);
		transform: scale(.75);
	}
	
	#slideshow .camera_prev, 
	#slideshow .camera_next {
		margin-top:0;
		top:40%;
		bottom:auto;
		opacity: 1!important;
	}
	
	#slideshow .camera_prev span, 
	#slideshow .camera_next span {
		-ms-transform: scale(.75)!important;
		-webkit-transform: scale(.75)!important;
		transform: scale(.75)!important;
	}
	
	
	#slideshow .slideshowck.camera_wrap {
		min-height:280px;
	}
	
	
	#showcase {
		background-image:none!important;
		padding-top: 0;
		padding-bottom:60px;
		
		&:before,
		&:after {
			display:none;
		}
		
		#showcase_inner {
			margin:0;
		}
		
		#showcase-modules {
			margin: 0;
		}
	
		#tagline h1 {
			font-size: 32px;
			line-height: 42px;
		}
		
		#tagline p {
			font-size: 15px;
			line-height: 24px;
		}
	}	
	
	#testimonials.owl-theme .owl-controls {
		bottom:-60px;
	}
	
	#testimonials blockquote {
		width:100%;
		padding:0;
		
		&:before, 
		&:after {
			display:none;
		}
	}
	
	#testimonials .testimonials_author {
		padding-top:25px;
		clear:both;
		float:none;
		text-align:center;
		width:100%;
	}
	
	.row-fluid .span6 #contact-form {
		
		&.form-horizontal .controls {
			display: block;
			margin-left: 0;
		}
		
		&.form-horizontal .control-label {
			float: none;
			width: auto;
			text-align: left;
		}
	}
	
	
	/* Virtuemart 
	--------------*/
	body .vendor-store-desc div.product, body .category-view div.product, body .featured-view div.product, body .latest-view div.product, body .topten-view div.product, body .recent-view div.product, body .related-products-view div.product, body .browse-view div.product, body .order-view div.product {
		width:100%;
		margin:0 0 15px!important;
	}
	
	
	body .cart-view #com-form-login .floatleft {
		width:auto;
		float:none;		
	}
	
	
	.billto-shipto .floatleft {
		width:auto;
		float:none;
		margin:0 0 25px;
	}
	
	
	
}



/*********************************************************************************/
/* PHONE */
/*********************************************************************************/
@media @phone {
	
	/* #header,
	#header_bar,
	#content:before {
		margin-left:-20px;
		padding-left:20px;
		margin-right:-20px;
		padding-right:20px;
	} */
	
	#header {
		
		#logo {
		}
	}
	
	#banner_area {
		text-align:center;
	}
		
	#slideshow {
		margin:0 0 0;
	}
	
	#slideshow .slideshowck {
	}
	
	#slideshow .camera_caption .camera_caption_title,
	#slideshow .camera_caption .camera_caption_desc {
	}
	
	#slideshow .camera_prev, 
	#slideshow .camera_next {
	}
	
	#content { 
	
		#content_inside_outter {
			padding:0;
			
			#content_inside {
				border-radius:7px;
			}
		}
	}
	
	.blog .item-image.pull-left, 
	.blog-featured .item-image.pull-left {
		float: none;
		margin-right: 0;
	}
	
	#showcase #tagline h1{
		font-size: 22px;
		line-height: 32px;
	}
	
	p#icelogo {
		float:none;
		padding:25px 0 0;
		text-align:center;
	}

	#footer #footer_inside .copyright_outer #copyright p.copytext {
		float: none;
		padding: 0 9px 0 3px;
		text-align: center;
	}
	

	#content #sidebar {
		clear:both;
	}
	
	
	.moduletable {
		margin-bottom: 25px!important;
	}

	#gotop .scrollup {
		position: relative;
		width: auto;
		border-radius: 0;
		display: block;
		margin: 0;
		left: 0;
		bottom: 0!important;
		
		&:after {
			width:100%;
		}
	}
	
	.iceslide_link {
		display:none;
	}	
	
	ul#jj_sl_navigation {
		display:none;
	}
	
	.ice_preload .spinner {
		margin-top:120px;
	}
	
	
	.nav-collapse {
		 -webkit-transform:none;
	 }
		
}