/*********************************************************************************/
/* Component (main styling)  */
/*********************************************************************************/

body table td,
body table th {
	white-space:nowrap;
}

body p.product_s_desc {
	height:auto;
}

.ui-tooltip {
	background:#eee;
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}

body td.key {
	width:auto;
	padding: 8px 16px;
	min-width: 180px;
}

body .orderlistcontainer div.orderlist div:hover {
	background:lighten(@grayLight,26%);
}

body .pagenav {
	padding:0;
	margin: 20px 0;
	border:none;
	background-color:none;
	color:@grayLight;
}

body .horizontal-separator {
	
}

.vm-ice-final-price {
	color:#990000;
	font-size: 20px;
	font-family:@OpenSans;
	line-height: 24px;
	margin: 0 0 4px;
	display: block;
}

.vm-ice-image-effect {
	.transition();	
	
	&:hover {
		opacity:.75;
		//.scale(1,2);
		.rotate(5deg);
	}
}

body .ratingbox,
body .ratingbox div, 
body .ratingbox span {
	background-image:url("../images/vm_stars.png");	
}

.vmLoading .vmLoadingDiv {
	text-align:center;
}

#fancybox-content {
	
	a.continue_link {
		color:@grayLight;
		font-size:13px;		
	}
	
	a.showcart {
		.btn;
	}
	
	h4 {
		font-weight: normal;
		font-size: 16px;
		margin: 25px 20px 0;
		font-family:@OpenSans;
	}
}


/* Add to cart button */
body .addtocart-area .addtocart-bar {
	position: static;
	left:auto;
	top:auto;
	display:inline-block;
	background:@bg_secondary;
	border-radius:4px;
	margin:5px 0 0;	
	
	span.quantity-box {
		
		input.quantity-input {
			height: 24px!important;
			width: 28px!important;
			border: none;
			margin-left: 12px;
			border-radius: 4px;
			padding: 2px;
		}
	}
	
	span.quantity-controls {
			
		input.quantity-controls {
			background-image: url("../images/vm_quantity-controls.png");
			height: 14px;
			display: inline-block;
			
			&.quantity-plus {
				margin-bottom:-6px;				
			}
			
			&.quantity-minus {
				margin-top:-6px;
			}
		}
		
	}
	
	span.addtocart-button {
		
		input.addtocart-button {
			background:none;
			border:none;
			color:#fff;
			padding: 6px 12px 6px 8px;
			margin:0;
			font-size: 15px;
			text-shadow:1px 1px 1px darken(@bg_secondary,10%);
			.transition();
			
			&:hover {
				text-shadow:0 0 15px rgba(255,255,255,.5);
			}
		}
	}
}


/* Category View */
body .category-view {
	padding:0 0 25px;
	margin:0 0 35px;
	border-bottom:1px dashed lighten(@grayLight,15%);
	
	 .row .category .spacer {
		 padding: 10px;
		 
		 h2 {
			font-size: 18px;	
			line-height: 26px;
			
			
			a {
				font-size:inherit;
				
				img {
					margin-top: 5px;
					max-height: 140px;
				}
			}
		 }
	 }
	 
	.horizontal-separator {
		background:none;
		margin: 2px 0;
	}
}


/* Featred, Latest, Recent etc Views */
body {
	
	.vendor-store-desc, 
	.category-view, 
	.featured-view,
	.latest-view, 
	.topten-view, 
	.recent-view, 
	.related-products-view, 
	.browse-view,
	.order-view {
		margin-bottom:35px;
		
		.spacer {
			padding:12px!important;
			
			span {
				font-size:inherit;
				color:inherit;
			}
		}
		
		
		div.product {
			
			&.vm-col-1 {
				
			}
			
			&.vm-col-2 {
				margin-left: .9%;
				margin-right: .9%;
			}
			
			&.vm-col-3 {
				margin-left: .6%;
				margin-right: .6%;
			}
			
			&.vm-col-4 {
				margin-left: .5%;
				margin-right: .5%;
			}
			
			&.vm-col-5 {
				margin-left: .25%;
				margin-right: .25%;
			}
		}
		
		div.product {
			border: 1px solid lighten(@grayLight,25%);
			margin-top: 10px;
			margin-bottom: 10px;
			min-width: 220px;
			border-radius:4px;
			text-align:center;
			
			img.browseProductImage {
				max-height:140px;
				.vm-ice-image-effect;
			}
			
			h2 {
				font-size: 16px!important;
				line-height:24px!important;
				margin: 0 0 5px!important;
			}
			
			.vm-product-descr-container-1,
			.vm-product-descr-container-0 {
				height:auto;
				margin:0;
			}
			
			p.product_s_desc {
				height:auto;
				margin:0;
			}
						
			/* Stock icons */			
			.vm2-nostock,
			.vm2-lowstock,
			.vm2-normalstock {
				background:url("../images/vm_stock.png") no-repeat;
				width:100px;
				height:20px;
			}
			
			.vm2-nostock {
				background-position:0 0;
			} 
			
			.vm2-lowstock {
				background-position:0 -20px;
			} 
			
			.vm2-normalstock {
				background-position:0 -40px;
			} 
			
			
			/* Prices */			
			.product-price {
				margin: 14px 0;
				float: none;
				color:@grayLight;
				height:auto!important;
				
				.vm-price-value {
					text-align: center;
					
					span {
					}
					
					span.vm-price-desc {
						width: auto;
						min-width: 0;
						font-size: 13px;
						font-style: italic;
						margin: 0;
						text-align: center;
					}
					
					span.PricesalesPrice {
						.vm-ice-final-price;
					}
					
					.PricediscountAmount {
						
					}
				}
			}
			
			
			.vm3pr-0 .addtocart-area {
				height:auto;
				margin:0;
				
				form {
					margin:0;
				}
			}
			
			div.vm-details-button {
				padding-top: 8px;
				
				a {
					color:#0066a2;
					border:none;
					padding:0;
					font-size:14px;
					background:none;
					width:auto;
					max-width:none;
					
					&:hover {
						text-decoration:underline;
					}
				}
			}
		}
	}
	
	.featured-view, 
	.latest-view, 
	.topten-view, 
	.recent-view, 
	.related-products-view  {
		
		h4 {
			font-family:@heading_font;
			font-weight: normal;
			display:inline-block;
			border-bottom:3px solid lighten(@bg_primary,10%);
			font-size: 20px;
			line-height:32px;
			text-transform:uppercase;
			padding:0 0 2px;
			margin: 0 0 15px;
			
		}
		
	}
	
}


.browse-view {
	
	.orderby-displaynumber {
		border:none;
		border:1px solid lighten(@grayLight,28%);
		background:lighten(@grayLight,35%);
		padding: 10px 20px;
		margin: 0 0 25px;
		
		.title,
		.display-number {
			color:@grayLight;
		}
		
	}
	
	.horizontal-separator {
		display:none;
	}
}


/* Product detail view */
body .productdetails-view {
	
	.product-neighbours {
		.well;
		padding: 10px 14px;
		font-size: 13px;
		
		a {
			&.previous-page {
				background-image: url("../images/vm_prev.png");				
			}
			
			&.next-page {
				background-image: url("../images/vm_next.png");				
			}
		}
	}
	
	h1 {
		margin-bottom:0;
	}
	
	
	.product-short-description {
		margin:0 0 30px;
		color:lighten(@grayLight,0%);
	}
	
	
	.vm-product-container {
		
		
		.vm-product-details-container {
			
			
			.spacer-buy-area {
				border:1px solid lighten(@grayLight,28%);
				background:lighten(@grayLight,35%);
				padding: 20px;
				border-radius:4px;
				
				.ratingbox {
					margin-bottom: 5px;
				}
				
				.product-price {
					border-top:1px dashed lighten(@grayLight,20%);
					margin: 15px 0 15px;
					padding: 10px 0 0;
					text-align: center;
					float: none;
									
					span.vm-price-desc {
						width: auto;
						min-width: 0;
						font-size: 13px;
						font-style: italic;
						margin: 0;
						text-align: center;
						color:@grayLight;
					}
						
					.PricesalesPrice {
						.vm-ice-final-price;
					}
				}
				
				.addtocart-area {
					margin: 0;
					text-align: center;
				}
			}
			
		}
		
	}
	
	.additional-images {
		margin: 25px 0;
		
		img {
			.vm-ice-image-effect ;
			width:auto;
			margin-right: 8px;
			max-width: 90px;
			height: auto;
			padding:4px;
			border:1px solid lighten(@grayLight,25%);	
		}

	}
	
	.product-description {
		
		span.title {
			.ice-headline;
			font-size: 22px;
			line-height: 34px;
			margin: 0 0 4px;
			display: block;
			text-align: left;	
		}
	}
	
	.product-box {
		.label;	
		margin: 0 0 15px;
	}
	
	
	
	.product-related-products, 
	.product-related-categories {
		border-top-color:transparent;
		margin: 5px 0 0;
		
		.product-field {
			width: 255px;
			margin: 15px;
			
			.product-field-desc {
				display:none;
			}
		}
		
		.product-fields-title-wrapper {
			min-width: 0;
			font-weight: bold;
			padding: 15px 0;
			display: block;
			
			span.product-fields-title {			
			}
		}
		
		.product-field-display {
			text-align:center;
			
			img {
				.vm-ice-image-effect;
				margin:0 auto 18px;
				max-height:140px;
			}
			
			a {
				font-family:@OpenSans;
				font-size:16px;		
				line-height: 24px;
				margin: 0 0 10px;
				display:block;
			}
			
			span.vm-price-desc {
				width: auto;
				min-width: 0;
				font-size: 13px;
				font-style: italic;
				margin: 0;
				text-align: center;
				color:@grayLight;
			}
			
			span.PricesalesPrice  {
				.vm-ice-final-price;
			}

		}
	}
	
	
	.customer-reviews {
		
		h4 {
			margin-top: 10px;
			border-color:lighten(@grayLight,25%);
		}
		
		span.step {
			
		}
		
		.rating {
			text-align:left;
			margin:0;			
		}
		
		.write-reviews {
			margin: 0 0 40px;
			text-align:left;
			
			textarea {
				min-width: 540px;
			}
			
			 input[type="text"] {
				 max-width: 60px;
			 }
		}
		
		.list-reviews {
			
			.normal,
			.highlight {
				border-color:lighten(@grayLight,25%);
				border-radius: 4px;
    			margin-bottom: 8px;
				padding: 12px!important;
			}
			
			span.date {
				border-color:lighten(@grayLight,25%);
				font-size: 12px;
				color:@grayLight;
			}
			
			div.vote,
			span.vote {
				margin-top:-9px;
			}
			
			blockquote {
				font-family:@text_font;
				font-size:14px;
				line-height: 24px;
				padding: 0;
				margin: 25px 0 0;
				
				&:before,
				&:after {
					display:none;
				}
			}
		}
		
		
	}
	
	.category-view {
		padding:0;
		margin: 25px 0 0;
		border-bottom:none;
	}
	
}



/* Cart detail view */
body .cart-view {
	
	.vm-cart-header {
		
		h1 {
			.ice-headline;
			text-align:left;
		}
	}
	
	.vm-continue-shopping {
		margin:0;
	}
	
	#com-form-login {
		.well;		
	}
	
	select.vm-chzn-select {
		margin:0;
	}
	
	.billto-shipto {
		border:none;
		margin:0;
		padding:25px;		
	}
	
	fieldset.vm-fieldset-pricelist {
		min-width:0;
		display:table-cell;
		
		
		
		table.cart-summary {
		}
		
		input.quantity-input {
			border-radius:4px;	
			padding: 4px;
			height: auto!important;	
		}
		
		.vm2-add_quantity_cart {
			background:url("../images/vm_refresh.png") no-repeat center center;
			width: 28px;			
		}
		
		.vm2-remove_from_cart {
			background:url("../images/vm_delete.png") no-repeat center center;
			width: 28px;	
		}
		
		input[type="text"] {
			margin:0;
		}
		
		.vmpayment_description, 
		.vmshipment_description {
			font-size:13px;
			font-style:italic;
			color:@grayLight;
		}
	}
	
	
	fieldset.vm-fieldset-customer-note {
		margin: 25px 0 0 0;
		
		span.customer-note {
			font-weight:bold;
		}
		
		textarea {
			min-height: 80px;
		}
	}
	
	
	fieldset.vm-fieldset-tos {
		margin: 25px 0 0 0;		
		
		input {
			margin:0;
		}
	}
	
	.checkout-button-top {
		border-color:lighten(@grayLight,25%);
		margin: 25px 0;
		padding: 15px 0 0;
		
		button {
			.btn;
			.btn.icebtn;
			.btn-large;
			font-weight:normal;
			
			&:focus {
				background:lighten(@bg_primary,5%);				
			}
		}		
	}
	
}


/* account pages */
#ui-tabs table,
table.adminlist {
	.table;
}


/*********************************************************************************/
/* Extensions (modules, plugins) styling */
/*********************************************************************************/

/* Ajax Cart Module */
#cart {
	float:right;
	border-radius:0 7px 7px 0;
	#gradient .vertical (lighten(@bg_secondary,5%),lighten(@bg_secondary,0%));
	
	a.cart_modal_link {
		color:#fff;
		display:block;
		text-decoration:none;
		background:url("../images/cart.png") no-repeat 8px 50%;
		padding:11px 15px 10px 50px;
		border-radius:0 7px 7px 0;
		text-shadow:1px 1px 1px darken(@bg_secondary,10%);
		.transition();	
		
		&:hover {
			text-shadow:1px 1px 15px rgba(255,255,255,.75);
		
		}
	}
	

	#cartModal {
		
		.vm_cart_products {
			
			.vmcontainer {
			
			}
		}
		
		hr {
			margin:12px 0;		
		}
		
		.total {
			float:right;
		}
		
		.total_products {
			float:left;
		}
		
		.show_cart a {
			.btn;
			.btn.icebtn;
			.icebtn-more;
		}
	}
}


/* Virtuemart Prodcuts module */
#vm_product {
	
	.moduletable {
		padding:15px;
		background:#fff;
		border-radius:7px;
		margin:0 0 45px;
		text-align:center;
		
		> h3 {
			display:inline-block;
			border-bottom:3px solid lighten(@bg_primary,10%);
			font-size: 20px;
			text-transform:uppercase;
			margin: 0 0 25px;
		}
	}
	
	 .productdetails {
		 padding:15px;
	 }
	
	.owl-theme .owl-controls .owl-buttons {
		
		div {
			position: absolute;
			top: 33%;
			left: -20px;
			width:40px;
			height:60px;
			padding:0;
			text-indent:-9999px;
			border-radius: 0;
			.hexBackgroundToRGBA(@bg_primary,.25);
			background-image:url("../images/owl-arrow.png");
			background-repeat: no-repeat;
			background-position:top;
			.transition();
			.scale(0);
			opacity:0;
			
			&.owl-next {
				left: auto;
				right:-20px;
				background-position:bottom;
			}
			
			&:hover {
				.hexBackgroundToRGBA(@bg_primary,.5);
			}
			
		}			
	}
	
	.owl-theme:hover .owl-controls .owl-buttons {
		
		.owl-prev {
			.scale(1);
			opacity:1;
			
		}
		
		.owl-next {
			.scale(1);
			opacity:1;
		}
	}			
	
	.owl-theme .owl-controls .owl-page span {
		width: 13px;
		height: 13px;
		margin: 5px 5px;
	}
	
}


.vmgroup .productdetails {
	
	img {
		.vm-ice-image-effect;
		margin: 0 auto 10px;
		max-height:140px;
	}
	
	span.PricesalesPrice  {
		.vm-ice-final-price;
	}
	
	a {
		font-family:@OpenSans;
		font-size:16px;		
		line-height: 24px;
		margin: 0 0 10px;
		display:block;
	}
	
	.addtocart-area {
		margin:15px 0 0;
	}
}



/* Categories module (header) */
#vm-categories {
	position:relative;
	float: left;
	
	.vm-categories_link {
		display:inline-block;
		background:#fff;
		background:rgba(255,255,255,.75);
		// font-style:italic;
		color:@grayLight;
		text-decoration:none;
		padding: 0 14px;
		margin: 0 45px;
		height:35px;
		line-height:35px;
		.transition();
		
		&:hover {
			color:@heading_color;			
		}
		
		&.vm-categories_link_open {
			color:@heading_color;
			background:#fff;
		}
			
		span {
		}
		
	}
	
	ul.VMmenu {
		display:none;
		position: absolute;
		width: 240px;
		height: auto;
		left: 45px;
		top: 35px;
		background: #fff;
		margin: 0;
		padding: 10px;
		z-index: 999;
		border-radius:0 4px 4px 4px;
		
		&.vm-categories_expanded {
			display:block;
		}
	}
}
	
body ul.VMmenu {
	
	> li {
		padding:0;
		position:relative;
		
		> div {
			border-bottom:1px dotted lighten(@grayLight,15%);
		
			a {
				display:block;		
				padding: 4px 0;	
				.transition();	
				
				&:hover {
					text-decoration:none;
					background:#eee;
					padding-left:10px;
				}
			}
			
			.VmArrowdown {
				background:url("../images/vm_categories_arrow.png") no-repeat center center;
				position:absolute;
				top:3px;
				right:3px;
				width: 20px;
				height: 22px;
				padding: 0;
				opacity:.7;
				.transition();
				
				&:hover {
					opacity:1;
				}
			}
		}
		
		ul.menu {
			background:#eee;
			padding:6px 12px;
			margin: 0 0 15px;
			
			li {
				
				a {
					font-size: 13px;
				
				}
			}
			
		}
	}
}
