/**********************************************************************************

	put here your custom CSS code to modify the design of IceTheme template
	
	* We strongly reccommend you to not edit other CSS or Less files as in 
	case you will update the template all your changes might be lost.	
	
**********************************************************************************/
/* Custom CSS by IceTheme */
#header.header_fix_cart {
	z-index: inherit;
}