/* -------------------------------------------------------------
	© IceTheme 2013
---------------------------------------------------------------- */

.ice_filter_items .row-fluid > .span6:first-child + .span6 + .span6 {
	margin-left: 0!important;}​	

		
.blog div.img img { width:100%}	

#search .dropdown {
	left:auto!important;
	top:auto!important;
	right:auto!important;
	margin-left:-194px!important;
}

#search form .inputbox {
	width:160px!important;
}


/* IceMegamenu */
