/* Compiled Less CSS File */
/* Generated from "style5.css" */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element {
  width: 2px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: NaN a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Import LESS variables and mixins files */
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* responsive variables */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
  background: #5c632f;
  text-shadow: 1px 1px 1px #1c1e0e;
}
.btn.icebtn:hover,
p.readmore a.btn:hover {
  background-color: #6c7537;
}
.btn.icebtn.icebtn-more:before,
p.readmore a.btn.icebtn-more:before {
  background: #6c7537;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #4c5227;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #4c5227;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #4c5227;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #4c5227;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #4c5227;
}
.tooltip .tooltip-inner {
  background: #4c5227;
}
/* Joomla 
----------*/
p.readmore a.btn span.icon-chevron-right {
  text-shadow: 1px 1px 1px #2c2f17;
}
#search form .inputbox:focus,
#search form .input-medium:focus {
  box-shadow: 0 0 12px #cdd4a4;
}
.newsflash-carousel ol.flex-control-nav li a.flex-active {
  background: #6c7537;
}
body.contentpane .mailto-close a {
  background: #4c5227 url(../../images/system/icon_close.png) no-repeat center;
}
body.contentpane .mailto-close a:hover {
  background-color: #7c8640;
}
/* Extras 
-----------*/
#slideshow .camera_pag ul li:hover {
  background: #8c9748;
}
#slideshow .camera_pag ul li.cameracurrent {
  background: #8c9748;
}
#testimonials blockquote:before,
#testimonials blockquote:after {
  color: #4c5227;
}
#testimonials.owl-theme .owl-controls .owl-buttons div {
  background-image: url("../../images/styles/style5/showcase_arrows.png");
}
ul#jj_sl_navigation li a {
  background-color: #8b9163 !important;
}
ul#jj_sl_navigation li a:hover {
  background-color: #a2a87f !important;
}
.iceslide_link {
  background-color: #4c5227;
  background-color: rgba(76, 82, 39, 0.8);
}
.iceslide_link:hover {
  background-color: #4c5227;
}
#iceslide .close {
  background: #4c5227;
}
#iceslide .close:hover {
  background: #5c632f;
}
#gotop .scrollup {
  background-color: #b0b6aa;
  background-color: rgba(176, 182, 170, 0.7);
}
#gotop.gotop_active .scrollup:hover {
  background-color: #969e8f;
  background-color: rgba(150, 158, 143, 0.7);
}
body.page-about .page-team ul li a:hover {
  color: #4c5227;
}
body.page-contact ul.icesocialblock li a:hover {
  color: #4c5227;
}
body.page-pricing div.pricing-table .pricing-table-header {
  background-color: #93986b;
  background-image: -moz-linear-gradient(top, #989d70, #8b9163);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#989d70), to(#8b9163));
  background-image: -webkit-linear-gradient(top, #989d70, #8b9163);
  background-image: -o-linear-gradient(top, #989d70, #8b9163);
  background-image: linear-gradient(to bottom, #989d70, #8b9163);
  background: -moz-linear-gradient(top, #989d70, #8b9163);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#989d70), to(#8b9163));
  background: -webkit-linear-gradient(top, #989d70, #8b9163);
  background: -o-linear-gradient(top, #989d70, #8b9163);
  background: linear-gradient(to bottom, #989d70, #8b9163);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff989d70', endColorstr='#ff8b9163', GradientType=0);
}
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected:hover,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected:hover {
  background: #5c632f;
}
.item-pagepage-portfolio .project-nav a {
  background-color: #6c7537;
}
.item-pagepage-portfolio .project-nav a:hover {
  background-color: #8c9748;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a {
  background-color: #6c7537;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a:hover {
  background-color: #8c9748;
}
body.offline_page #offline_social ul li a:hover {
  color: #4c5227;
}
/* Layout
*-----------------*/
body {
  background-image: url("../../images/styles/style5/bg_pattern.png");
}
body.body_preload .body_preload_area .spinner div {
  background-color: #5c632f;
}
#header #header_contact [class^="icon-"] {
  color: #4c5227;
}
#content #message .moduletable > h3 {
  border-bottom: 3px solid #6c7537;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 .sidebar_module_heading {
  border-bottom-color: #6c7537;
}
/* Virtuemart
/**************/
body .ratingbox,
body .ratingbox div,
body .ratingbox span {
  background-image: url("../../images/styles/style5/vm_stars.png");
}
body .addtocart-area .addtocart-bar {
  background: #8b9163;
}
body .addtocart-area .addtocart-bar span.addtocart-button input.addtocart-button {
  text-shadow: 1px 1px 1px #6e734e;
}
body .featured-view h4,
body .latest-view h4,
body .topten-view h4,
body .recent-view h4,
body .related-products-view h4 {
  border-bottom: 3px solid #6c7537;
}
body .cart-view .checkout-button-top button:focus {
  background: #5c632f;
}
#cart {
  background-color: #93986b;
  background-image: -moz-linear-gradient(top, #989d70, #8b9163);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#989d70), to(#8b9163));
  background-image: -webkit-linear-gradient(top, #989d70, #8b9163);
  background-image: -o-linear-gradient(top, #989d70, #8b9163);
  background-image: linear-gradient(to bottom, #989d70, #8b9163);
  background: -moz-linear-gradient(top, #989d70, #8b9163);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#989d70), to(#8b9163));
  background: -webkit-linear-gradient(top, #989d70, #8b9163);
  background: -o-linear-gradient(top, #989d70, #8b9163);
  background: linear-gradient(to bottom, #989d70, #8b9163);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff989d70', endColorstr='#ff8b9163', GradientType=0);
}
#cart a.cart_modal_link {
  text-shadow: 1px 1px 1px #6e734e;
}
#vm_product .moduletable > h3 {
  border-bottom: 3px solid #6c7537;
}
#vm_product .owl-theme .owl-controls .owl-buttons div {
  background-color: #4c5227;
  background-color: rgba(76, 82, 39, 0.25);
}
#vm_product .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #4c5227;
  background-color: rgba(76, 82, 39, 0.5);
}
/* MainMenu
/**************/
#mainmenu {
  background-color: #565c2c;
  background-image: -moz-linear-gradient(top, #5c632f, #4c5227);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5c632f), to(#4c5227));
  background-image: -webkit-linear-gradient(top, #5c632f, #4c5227);
  background-image: -o-linear-gradient(top, #5c632f, #4c5227);
  background-image: linear-gradient(to bottom, #5c632f, #4c5227);
  background: -moz-linear-gradient(top, #5c632f, #4c5227);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5c632f), to(#4c5227));
  background: -webkit-linear-gradient(top, #5c632f, #4c5227);
  background: -o-linear-gradient(top, #5c632f, #4c5227);
  background: linear-gradient(to bottom, #5c632f, #4c5227);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c632f', endColorstr='#ff4c5227', GradientType=0);
}
#mainmenu .navbar-inner ul.nav {
  margin-right: 5px;
}
#mainmenu .navbar-inner ul.nav > li {
  padding-right: 5px;
}
#mainmenu .navbar-inner ul.nav > li > a {
  text-shadow: 1px 1px 1px #2c2f17;
}
#mainmenu .navbar-inner ul.nav > li > a .caret {
  border-top-color: #8c9748;
  border-bottom-color: #8c9748;
}
#mainmenu .navbar-inner ul.nav > li.active > a {
  background-color: #464b24;
  background-image: -moz-linear-gradient(top, #4c5227, #3c411f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4c5227), to(#3c411f));
  background-image: -webkit-linear-gradient(top, #4c5227, #3c411f);
  background-image: -o-linear-gradient(top, #4c5227, #3c411f);
  background-image: linear-gradient(to bottom, #4c5227, #3c411f);
  background: -moz-linear-gradient(top, #4c5227, #3c411f);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c5227), to(#3c411f));
  background: -webkit-linear-gradient(top, #4c5227, #3c411f);
  background: -o-linear-gradient(top, #4c5227, #3c411f);
  background: linear-gradient(to bottom, #4c5227, #3c411f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4c5227', endColorstr='#ff3c411f', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.active:after {
  border-top: 12px solid #3c411f;
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
  background-color: #464b24;
  background-image: -moz-linear-gradient(top, #4c5227, #3c411f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4c5227), to(#3c411f));
  background-image: -webkit-linear-gradient(top, #4c5227, #3c411f);
  background-image: -o-linear-gradient(top, #4c5227, #3c411f);
  background-image: linear-gradient(to bottom, #4c5227, #3c411f);
  background: -moz-linear-gradient(top, #4c5227, #3c411f);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c5227), to(#3c411f));
  background: -webkit-linear-gradient(top, #4c5227, #3c411f);
  background: -o-linear-gradient(top, #4c5227, #3c411f);
  background: linear-gradient(to bottom, #4c5227, #3c411f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4c5227', endColorstr='#ff3c411f', GradientType=0);
}
#mainmenu .dropdown-menu {
  background: #3c411f;
}
#mainmenu .dropdown-menu > li > a {
  text-shadow: 1px 1px 1px #2c2f17;
}
#mainmenu .dropdown-menu > li > a:hover,
#mainmenu .dropdown-menu > li > a:focus {
  background: #8b9163;
}
#mainmenu .dropdown-menu > li.active > a {
  background: #8b9163;
}
#mainmenu .dropdown-menu .divider {
  background: #2c2f17;
  border-bottom-color: #9ca850;
}
#mainmenu .dropdown-menu .nav-header {
  color: #fff;
  text-shadow: 1px 1px 1px #2c2f17;
  border-bottom: 1px dotted #9ca850;
}
#mainmenu .dropdown-submenu:hover > a {
  background: #3c411f;
}
/* Responsive Part */
@media only screen and (max-width: 979px) {
  #mainmenu {
    background: #4c5227;
  }
  #mainmenu.navbar .btn-navbar {
    background: #8b9163;
  }
  #mainmenu.navbar .btn-navbar:hover {
    background: #989d70;
  }
  #mainmenu .navbar-inner ul.nav > li > a,
  #mainmenu .navbar-inner ul.nav > li > a:hover {
    text-shadow: 1px 1px 1px #2c2f17 !important;
  }
  #mainmenu .navbar-inner ul.nav > li > a .caret,
  #mainmenu .navbar-inner ul.nav > li > a:hover .caret {
    border-top-color: #9ca850 !important;
    border-bottom-color: #9ca850 !important;
  }
  #mainmenu .navbar-inner ul.nav > li.active > a,
  #mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
    background: #3c411f;
  }
}