/* Compiled Less CSS File */
/* Generated from "style4.css" */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element {
  width: 2px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: NaN a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Import LESS variables and mixins files */
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* responsive variables */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
  background: #670a53;
  text-shadow: 1px 1px 1px #0a0108;
}
.btn.icebtn:hover,
p.readmore a.btn:hover {
  background-color: #7e0d65;
}
.btn.icebtn.icebtn-more:before,
p.readmore a.btn.icebtn-more:before {
  background: #7e0d65;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #500840;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #500840;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #500840;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #500840;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #500840;
}
.tooltip .tooltip-inner {
  background: #500840;
}
/* Joomla 
----------*/
p.readmore a.btn span.icon-chevron-right {
  text-shadow: 1px 1px 1px #22031b;
}
#search form .inputbox:focus,
#search form .input-medium:focus {
  box-shadow: 0 0 12px #f067d1;
}
.newsflash-carousel ol.flex-control-nav li a.flex-active {
  background: #7e0d65;
}
body.contentpane .mailto-close a {
  background: #500840 url(../../images/system/icon_close.png) no-repeat center;
}
body.contentpane .mailto-close a:hover {
  background-color: #960f78;
}
/* Extras 
-----------*/
#slideshow .camera_pag ul li:hover {
  background: #ad118a;
}
#slideshow .camera_pag ul li.cameracurrent {
  background: #ad118a;
}
#testimonials blockquote:before,
#testimonials blockquote:after {
  color: #500840;
}
#testimonials.owl-theme .owl-controls .owl-buttons div {
  background-image: url("../../images/styles/style4/showcase_arrows.png");
}
ul#jj_sl_navigation li a {
  background-color: #8f1d80 !important;
}
ul#jj_sl_navigation li a:hover {
  background-color: #b926a6 !important;
}
.iceslide_link {
  background-color: #500840;
  background-color: rgba(80, 8, 64, 0.8);
}
.iceslide_link:hover {
  background-color: #500840;
}
#iceslide .close {
  background: #500840;
}
#iceslide .close:hover {
  background: #670a53;
}
#gotop .scrollup {
  background-color: #b0b6aa;
  background-color: rgba(176, 182, 170, 0.7);
}
#gotop.gotop_active .scrollup:hover {
  background-color: #969e8f;
  background-color: rgba(150, 158, 143, 0.7);
}
body.page-about .page-team ul li a:hover {
  color: #500840;
}
body.page-contact ul.icesocialblock li a:hover {
  color: #500840;
}
body.page-pricing div.pricing-table .pricing-table-header {
  background-color: #9c208b;
  background-image: -moz-linear-gradient(top, #a42193, #8f1d80);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a42193), to(#8f1d80));
  background-image: -webkit-linear-gradient(top, #a42193, #8f1d80);
  background-image: -o-linear-gradient(top, #a42193, #8f1d80);
  background-image: linear-gradient(to bottom, #a42193, #8f1d80);
  background: -moz-linear-gradient(top, #a42193, #8f1d80);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#a42193), to(#8f1d80));
  background: -webkit-linear-gradient(top, #a42193, #8f1d80);
  background: -o-linear-gradient(top, #a42193, #8f1d80);
  background: linear-gradient(to bottom, #a42193, #8f1d80);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa42193', endColorstr='#ff8f1d80', GradientType=0);
}
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected:hover,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected:hover {
  background: #670a53;
}
.item-pagepage-portfolio .project-nav a {
  background-color: #7e0d65;
}
.item-pagepage-portfolio .project-nav a:hover {
  background-color: #ad118a;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a {
  background-color: #7e0d65;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a:hover {
  background-color: #ad118a;
}
body.offline_page #offline_social ul li a:hover {
  color: #500840;
}
/* Layout
*-----------------*/
body {
  background-image: url("../../images/styles/style4/bg_pattern.png");
}
body.body_preload .body_preload_area .spinner div {
  background-color: #670a53;
}
#header #header_contact [class^="icon-"] {
  color: #500840;
}
#content #message .moduletable > h3 {
  border-bottom: 3px solid #7e0d65;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 .sidebar_module_heading {
  border-bottom-color: #7e0d65;
}
/* Virtuemart
/**************/
body .ratingbox,
body .ratingbox div,
body .ratingbox span {
  background-image: url("../../images/styles/style4/vm_stars.png");
}
body .addtocart-area .addtocart-bar {
  background: #8f1d80;
}
body .addtocart-area .addtocart-bar span.addtocart-button input.addtocart-button {
  text-shadow: 1px 1px 1px #65145a;
}
body .featured-view h4,
body .latest-view h4,
body .topten-view h4,
body .recent-view h4,
body .related-products-view h4 {
  border-bottom: 3px solid #7e0d65;
}
body .cart-view .checkout-button-top button:focus {
  background: #670a53;
}
#cart {
  background-color: #9c208b;
  background-image: -moz-linear-gradient(top, #a42193, #8f1d80);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a42193), to(#8f1d80));
  background-image: -webkit-linear-gradient(top, #a42193, #8f1d80);
  background-image: -o-linear-gradient(top, #a42193, #8f1d80);
  background-image: linear-gradient(to bottom, #a42193, #8f1d80);
  background: -moz-linear-gradient(top, #a42193, #8f1d80);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#a42193), to(#8f1d80));
  background: -webkit-linear-gradient(top, #a42193, #8f1d80);
  background: -o-linear-gradient(top, #a42193, #8f1d80);
  background: linear-gradient(to bottom, #a42193, #8f1d80);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa42193', endColorstr='#ff8f1d80', GradientType=0);
}
#cart a.cart_modal_link {
  text-shadow: 1px 1px 1px #65145a;
}
#vm_product .moduletable > h3 {
  border-bottom: 3px solid #7e0d65;
}
#vm_product .owl-theme .owl-controls .owl-buttons div {
  background-color: #500840;
  background-color: rgba(80, 8, 64, 0.25);
}
#vm_product .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #500840;
  background-color: rgba(80, 8, 64, 0.5);
}
/* MainMenu
/**************/
#mainmenu {
  background-color: #5e094b;
  background-image: -moz-linear-gradient(top, #670a53, #500840);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#670a53), to(#500840));
  background-image: -webkit-linear-gradient(top, #670a53, #500840);
  background-image: -o-linear-gradient(top, #670a53, #500840);
  background-image: linear-gradient(to bottom, #670a53, #500840);
  background: -moz-linear-gradient(top, #670a53, #500840);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#670a53), to(#500840));
  background: -webkit-linear-gradient(top, #670a53, #500840);
  background: -o-linear-gradient(top, #670a53, #500840);
  background: linear-gradient(to bottom, #670a53, #500840);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff670a53', endColorstr='#ff500840', GradientType=0);
}
#mainmenu .navbar-inner ul.nav {
  margin-right: 5px;
}
#mainmenu .navbar-inner ul.nav > li {
  padding-right: 5px;
}
#mainmenu .navbar-inner ul.nav > li > a {
  text-shadow: 1px 1px 1px #22031b;
}
#mainmenu .navbar-inner ul.nav > li > a .caret {
  border-top-color: #ad118a;
  border-bottom-color: #ad118a;
}
#mainmenu .navbar-inner ul.nav > li.active > a {
  background-color: #470739;
  background-image: -moz-linear-gradient(top, #500840, #39062d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#500840), to(#39062d));
  background-image: -webkit-linear-gradient(top, #500840, #39062d);
  background-image: -o-linear-gradient(top, #500840, #39062d);
  background-image: linear-gradient(to bottom, #500840, #39062d);
  background: -moz-linear-gradient(top, #500840, #39062d);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#500840), to(#39062d));
  background: -webkit-linear-gradient(top, #500840, #39062d);
  background: -o-linear-gradient(top, #500840, #39062d);
  background: linear-gradient(to bottom, #500840, #39062d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff500840', endColorstr='#ff39062d', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.active:after {
  border-top: 12px solid #39062d;
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
  background-color: #470739;
  background-image: -moz-linear-gradient(top, #500840, #39062d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#500840), to(#39062d));
  background-image: -webkit-linear-gradient(top, #500840, #39062d);
  background-image: -o-linear-gradient(top, #500840, #39062d);
  background-image: linear-gradient(to bottom, #500840, #39062d);
  background: -moz-linear-gradient(top, #500840, #39062d);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#500840), to(#39062d));
  background: -webkit-linear-gradient(top, #500840, #39062d);
  background: -o-linear-gradient(top, #500840, #39062d);
  background: linear-gradient(to bottom, #500840, #39062d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff500840', endColorstr='#ff39062d', GradientType=0);
}
#mainmenu .dropdown-menu {
  background: #39062d;
}
#mainmenu .dropdown-menu > li > a {
  text-shadow: 1px 1px 1px #22031b;
}
#mainmenu .dropdown-menu > li > a:hover,
#mainmenu .dropdown-menu > li > a:focus {
  background: #8f1d80;
}
#mainmenu .dropdown-menu > li.active > a {
  background: #8f1d80;
}
#mainmenu .dropdown-menu .divider {
  background: #22031b;
  border-bottom-color: #c4149d;
}
#mainmenu .dropdown-menu .nav-header {
  color: #fff;
  text-shadow: 1px 1px 1px #22031b;
  border-bottom: 1px dotted #c4149d;
}
#mainmenu .dropdown-submenu:hover > a {
  background: #39062d;
}
/* Responsive Part */
@media only screen and (max-width: 979px) {
  #mainmenu {
    background: #500840;
  }
  #mainmenu.navbar .btn-navbar {
    background: #8f1d80;
  }
  #mainmenu.navbar .btn-navbar:hover {
    background: #a42193;
  }
  #mainmenu .navbar-inner ul.nav > li > a,
  #mainmenu .navbar-inner ul.nav > li > a:hover {
    text-shadow: 1px 1px 1px #22031b !important;
  }
  #mainmenu .navbar-inner ul.nav > li > a .caret,
  #mainmenu .navbar-inner ul.nav > li > a:hover .caret {
    border-top-color: #c4149d !important;
    border-bottom-color: #c4149d !important;
  }
  #mainmenu .navbar-inner ul.nav > li.active > a,
  #mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
    background: #39062d;
  }
}