/* Compiled Less CSS File */
/* Generated from "style2.css" */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element {
  width: 2px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: NaN a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Import LESS variables and mixins files */
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* responsive variables */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
  background: #b5375f;
  text-shadow: 1px 1px 1px #661f36;
}
.btn.icebtn:hover,
p.readmore a.btn:hover {
  background-color: #c5406b;
}
.btn.icebtn.icebtn-more:before,
p.readmore a.btn.icebtn-more:before {
  background: #c5406b;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #a13155;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #a13155;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #a13155;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #a13155;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #a13155;
}
.tooltip .tooltip-inner {
  background: #a13155;
}
/* Joomla 
----------*/
p.readmore a.btn span.icon-chevron-right {
  text-shadow: 1px 1px 1px #7a2540;
}
#search form .inputbox:focus,
#search form .input-medium:focus {
  box-shadow: 0 0 12px #f4dde4;
}
.newsflash-carousel ol.flex-control-nav li a.flex-active {
  background: #c5406b;
}
body.contentpane .mailto-close a {
  background: #a13155 url(../../images/system/icon_close.png) no-repeat center;
}
body.contentpane .mailto-close a:hover {
  background-color: #cb547a;
}
/* Extras 
-----------*/
#slideshow .camera_pag ul li:hover {
  background: #d16789;
}
#slideshow .camera_pag ul li.cameracurrent {
  background: #d16789;
}
#testimonials blockquote:before,
#testimonials blockquote:after {
  color: #a13155;
}
#testimonials.owl-theme .owl-controls .owl-buttons div {
  background-image: url("../../images/styles/style2/showcase_arrows.png");
}
ul#jj_sl_navigation li a {
  background-color: #cb7093 !important;
}
ul#jj_sl_navigation li a:hover {
  background-color: #d995af !important;
}
.iceslide_link {
  background-color: #a13155;
  background-color: rgba(161, 49, 85, 0.8);
}
.iceslide_link:hover {
  background-color: #a13155;
}
#iceslide .close {
  background: #a13155;
}
#iceslide .close:hover {
  background: #b5375f;
}
#gotop .scrollup {
  background-color: #b0b6aa;
  background-color: rgba(176, 182, 170, 0.7);
}
#gotop.gotop_active .scrollup:hover {
  background-color: #969e8f;
  background-color: rgba(150, 158, 143, 0.7);
}
body.page-about .page-team ul li a:hover {
  color: #a13155;
}
body.page-contact ul.icesocialblock li a:hover {
  color: #a13155;
}
body.page-pricing div.pricing-table .pricing-table-header {
  background-color: #cf7b9b;
  background-image: -moz-linear-gradient(top, #d283a1, #cb7093);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d283a1), to(#cb7093));
  background-image: -webkit-linear-gradient(top, #d283a1, #cb7093);
  background-image: -o-linear-gradient(top, #d283a1, #cb7093);
  background-image: linear-gradient(to bottom, #d283a1, #cb7093);
  background: -moz-linear-gradient(top, #d283a1, #cb7093);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d283a1), to(#cb7093));
  background: -webkit-linear-gradient(top, #d283a1, #cb7093);
  background: -o-linear-gradient(top, #d283a1, #cb7093);
  background: linear-gradient(to bottom, #d283a1, #cb7093);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd283a1', endColorstr='#ffcb7093', GradientType=0);
}
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected:hover,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected:hover {
  background: #b5375f;
}
.item-pagepage-portfolio .project-nav a {
  background-color: #c5406b;
}
.item-pagepage-portfolio .project-nav a:hover {
  background-color: #d16789;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a {
  background-color: #c5406b;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a:hover {
  background-color: #d16789;
}
body.offline_page #offline_social ul li a:hover {
  color: #a13155;
}
/* Layout
*-----------------*/
body {
  background-image: url("../../images/styles/style2/bg_pattern.png");
}
body.body_preload .body_preload_area .spinner div {
  background-color: #b5375f;
}
#header #header_contact [class^="icon-"] {
  color: #a13155;
}
#content #message .moduletable > h3 {
  border-bottom: 3px solid #c5406b;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 .sidebar_module_heading {
  border-bottom-color: #c5406b;
}
/* Virtuemart
/**************/
body .ratingbox,
body .ratingbox div,
body .ratingbox span {
  background-image: url("../../images/styles/style2/vm_stars.png");
}
body .addtocart-area .addtocart-bar {
  background: #cb7093;
}
body .addtocart-area .addtocart-bar span.addtocart-button input.addtocart-button {
  text-shadow: 1px 1px 1px #bd4b77;
}
body .featured-view h4,
body .latest-view h4,
body .topten-view h4,
body .recent-view h4,
body .related-products-view h4 {
  border-bottom: 3px solid #c5406b;
}
body .cart-view .checkout-button-top button:focus {
  background: #b5375f;
}
#cart {
  background-color: #cf7b9b;
  background-image: -moz-linear-gradient(top, #d283a1, #cb7093);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d283a1), to(#cb7093));
  background-image: -webkit-linear-gradient(top, #d283a1, #cb7093);
  background-image: -o-linear-gradient(top, #d283a1, #cb7093);
  background-image: linear-gradient(to bottom, #d283a1, #cb7093);
  background: -moz-linear-gradient(top, #d283a1, #cb7093);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d283a1), to(#cb7093));
  background: -webkit-linear-gradient(top, #d283a1, #cb7093);
  background: -o-linear-gradient(top, #d283a1, #cb7093);
  background: linear-gradient(to bottom, #d283a1, #cb7093);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd283a1', endColorstr='#ffcb7093', GradientType=0);
}
#cart a.cart_modal_link {
  text-shadow: 1px 1px 1px #bd4b77;
}
#vm_product .moduletable > h3 {
  border-bottom: 3px solid #c5406b;
}
#vm_product .owl-theme .owl-controls .owl-buttons div {
  background-color: #a13155;
  background-color: rgba(161, 49, 85, 0.25);
}
#vm_product .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #a13155;
  background-color: rgba(161, 49, 85, 0.5);
}
/* MainMenu
/**************/
#mainmenu {
  background-color: #ad355b;
  background-image: -moz-linear-gradient(top, #b5375f, #a13155);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b5375f), to(#a13155));
  background-image: -webkit-linear-gradient(top, #b5375f, #a13155);
  background-image: -o-linear-gradient(top, #b5375f, #a13155);
  background-image: linear-gradient(to bottom, #b5375f, #a13155);
  background: -moz-linear-gradient(top, #b5375f, #a13155);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b5375f), to(#a13155));
  background: -webkit-linear-gradient(top, #b5375f, #a13155);
  background: -o-linear-gradient(top, #b5375f, #a13155);
  background: linear-gradient(to bottom, #b5375f, #a13155);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb5375f', endColorstr='#ffa13155', GradientType=0);
}
#mainmenu .navbar-inner ul.nav {
  margin-right: 5px;
}
#mainmenu .navbar-inner ul.nav > li {
  padding-right: 5px;
}
#mainmenu .navbar-inner ul.nav > li > a {
  text-shadow: 1px 1px 1px #7a2540;
}
#mainmenu .navbar-inner ul.nav > li > a .caret {
  border-top-color: #d16789;
  border-bottom-color: #d16789;
}
#mainmenu .navbar-inner ul.nav > li.active > a {
  background-color: #992f51;
  background-image: -moz-linear-gradient(top, #a13155, #8d2b4b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a13155), to(#8d2b4b));
  background-image: -webkit-linear-gradient(top, #a13155, #8d2b4b);
  background-image: -o-linear-gradient(top, #a13155, #8d2b4b);
  background-image: linear-gradient(to bottom, #a13155, #8d2b4b);
  background: -moz-linear-gradient(top, #a13155, #8d2b4b);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#a13155), to(#8d2b4b));
  background: -webkit-linear-gradient(top, #a13155, #8d2b4b);
  background: -o-linear-gradient(top, #a13155, #8d2b4b);
  background: linear-gradient(to bottom, #a13155, #8d2b4b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa13155', endColorstr='#ff8d2b4b', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.active:after {
  border-top: 12px solid #8d2b4b;
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
  background-color: #992f51;
  background-image: -moz-linear-gradient(top, #a13155, #8d2b4b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a13155), to(#8d2b4b));
  background-image: -webkit-linear-gradient(top, #a13155, #8d2b4b);
  background-image: -o-linear-gradient(top, #a13155, #8d2b4b);
  background-image: linear-gradient(to bottom, #a13155, #8d2b4b);
  background: -moz-linear-gradient(top, #a13155, #8d2b4b);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#a13155), to(#8d2b4b));
  background: -webkit-linear-gradient(top, #a13155, #8d2b4b);
  background: -o-linear-gradient(top, #a13155, #8d2b4b);
  background: linear-gradient(to bottom, #a13155, #8d2b4b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa13155', endColorstr='#ff8d2b4b', GradientType=0);
}
#mainmenu .dropdown-menu {
  background: #8d2b4b;
}
#mainmenu .dropdown-menu > li > a {
  text-shadow: 1px 1px 1px #7a2540;
}
#mainmenu .dropdown-menu > li > a:hover,
#mainmenu .dropdown-menu > li > a:focus {
  background: #cb7093;
}
#mainmenu .dropdown-menu > li.active > a {
  background: #cb7093;
}
#mainmenu .dropdown-menu .divider {
  background: #7a2540;
  border-bottom-color: #d77b98;
}
#mainmenu .dropdown-menu .nav-header {
  color: #fff;
  text-shadow: 1px 1px 1px #7a2540;
  border-bottom: 1px dotted #d77b98;
}
#mainmenu .dropdown-submenu:hover > a {
  background: #8d2b4b;
}
/* Responsive Part */
@media only screen and (max-width: 979px) {
  #mainmenu {
    background: #a13155;
  }
  #mainmenu.navbar .btn-navbar {
    background: #cb7093;
  }
  #mainmenu.navbar .btn-navbar:hover {
    background: #d283a1;
  }
  #mainmenu .navbar-inner ul.nav > li > a,
  #mainmenu .navbar-inner ul.nav > li > a:hover {
    text-shadow: 1px 1px 1px #7a2540 !important;
  }
  #mainmenu .navbar-inner ul.nav > li > a .caret,
  #mainmenu .navbar-inner ul.nav > li > a:hover .caret {
    border-top-color: #d77b98 !important;
    border-bottom-color: #d77b98 !important;
  }
  #mainmenu .navbar-inner ul.nav > li.active > a,
  #mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
    background: #8d2b4b;
  }
}