/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element{width:2px;} 

// Core variables and mixins
@import "../../../../../media/jui/less/variables.less";
@import "../../../../../media/jui/less/mixins.less";

/* Import LESS variables and mixins files */
@import "../vars.less";


/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
@bg_body:				  #d6d9d3;
@bg_primary: 		      #4C5227;
@bg_secondary: 		      #8B9163;		


/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
	background:lighten(@bg_primary,5%);
	text-shadow:1px 1px 1px darken(@bg_primary,15%);
	
	&:hover {
		background-color:lighten(@bg_primary,10%);
	}
	&.icebtn-more {	
		&:before {
			background:lighten(@bg_primary,10%);		
		}	
	}
}	
.tooltip {
	&.bottom .tooltip-arrow { 
		border-bottom-color:lighten(@bg_primary,0%);
	}
	&.bottom .tooltip-arrow {
		 border-bottom-color:lighten(@bg_primary,0%);
	}
	&.top .tooltip-arrow    { 
		border-top-color:lighten(@bg_primary,0%);
	}
	&.left .tooltip-arrow   { 
		border-left-color:lighten(@bg_primary,0%);
	}
	&.right .tooltip-arrow  { 
		border-right-color:lighten(@bg_primary,0%);
	}
	.tooltip-inner {
		background:lighten(@bg_primary,0%);
	}
}

/* Joomla 
----------*/
p.readmore {	
	a.btn {
		span.icon-chevron-right { 
			text-shadow:1px 1px 1px darken(@bg_primary,10%);
		}	
	}
}
#search {
	form {	
		.inputbox,
		.input-medium {
			&:focus {
				box-shadow:0 0 12px lighten(@bg_primary,50%);
			}
		}	
	}
}		
.newsflash-carousel {
	ol.flex-control-nav {
		li {
			a {	
				&.flex-active {
					background:lighten(@bg_primary,10%);
				}
			}
		}
	}
}
body.contentpane {
	.mailto-close a {
		background:@bg_primary url(../../images/system/icon_close.png) no-repeat center;
		&:hover {
			background-color:lighten(@bg_primary,15%);
		}
	}
}

/* Extras 
-----------*/
#slideshow {
	.camera_pag {	
		ul {	
			li {	
				&:hover {
					background:lighten(@bg_primary,20%);	
				}			
				&.cameracurrent {
					background:lighten(@bg_primary,20%);					
				}
			}
		}
	}
}
#testimonials {	
	blockquote {
		&:before,
		&:after {
			color:lighten(@bg_primary,0);
		}
	}
	&.owl-theme .owl-controls {
		.owl-buttons div {
			background-image:url("../../images/styles/style5/showcase_arrows.png");
		}
	}
}
ul#jj_sl_navigation {
	li {
		a {
			background-color:@bg_secondary!important;
			&:hover {
				background-color:lighten(@bg_secondary,10%)!important;
			}
		}
	}
}
.iceslide_link {
	.hexBackgroundToRGBA(@bg_primary, .8);
	&:hover {
		.hexBackgroundToRGBA(@bg_primary, 1);
	}
}	

#iceslide {
	.close {
		background: @bg_primary;	
		&:hover {
			background: lighten(@bg_primary,5%);
		}
	}		
}
#gotop {
	.scrollup {
		.hexBackgroundToRGBA(darken(@bg_body,15%), .7);
	}
	&.gotop_active .scrollup {
		&:hover {
			.hexBackgroundToRGBA(darken(@bg_body,25%), .7);
		}	
	}
}
body.page-about {
	.page-team {	
		ul {	
			li {	
				a {		
					&:hover {
						color:@bg_primary;
					}
				}
			}
		}
	}	
}
body.page-contact {	
	ul.icesocialblock {
		li {		
			a {	
				&:hover {
					color:@bg_primary;
				}
			}
		}
	}
}
body.page-pricing {
	div.pricing-table {
		.pricing-table-header {
			#gradient .vertical(lighten(@bg_secondary,5%),lighten(@bg_secondary,0%));	
		}	
	}
}
.portfolio-listpage-portfolio {
	.projects-filter {
		ul {
			li {	
				a:link,
				a:visited {
					&.selected,
					&.selected:hover {
						background:lighten(@bg_primary,5%);
					}
				}
			}
		}
	}		
}
.item-pagepage-portfolio {
	.project-nav {
		a {
			background-color:lighten(@bg_primary,10%);
			&:hover {
				background-color:lighten(@bg_primary,20%);
			}
		}
	}
	.project-wrapper .flex-direction-nav li a {
		background-color:lighten(@bg_primary,10%);
		&:hover {
			background-color:lighten(@bg_primary,20%);
		}
	}
}
body.offline_page {
	#offline_social {
		ul {	
			li {	
				a {
					&:hover {
						color:@bg_primary;
					}
				}
			}
		}
	}
}

/* Layout
*-----------------*/
body {
	background-image:url("../../images/styles/style5/bg_pattern.png");
	&.body_preload {	
		.body_preload_area {		
			.spinner {
				div {
					background-color: lighten(@bg_primary,5%);
				}
			}
		}
	}
}
#header {
	#header_contact {
		[class^="icon-"] {
			color: @bg_primary;
		}
	}
}
#content {
	#message {
		.moduletable {
			> h3 {
				border-bottom:3px solid lighten(@bg_primary,10%);
			}
		}
	}
	#sidebar {
		.sidebar_module {
			&.sidebar_module_style-1 {
				.sidebar_module_heading {
					border-bottom-color:lighten(@bg_primary,10%);
				}
			}
		}	
	}	
}

/* Virtuemart
/**************/
body .ratingbox,
body .ratingbox div, 
body .ratingbox span {
	background-image:url("../../images/styles/style5/vm_stars.png");	
}
body .addtocart-area .addtocart-bar {
	background:@bg_secondary;
	span.addtocart-button {	
		input.addtocart-button {
			text-shadow:1px 1px 1px darken(@bg_secondary,10%);		
		}
	}
}


body {
	.featured-view, 
	.latest-view, 
	.topten-view, 
	.recent-view, 
	.related-products-view  {
		h4 {
			border-bottom:3px solid lighten(@bg_primary,10%);
		}
	}
}
body .cart-view {
	.checkout-button-top {
		button {	
			&:focus {
				background:lighten(@bg_primary,5%);				
			}
		}		
	}
}
#cart {
	#gradient .vertical (lighten(@bg_secondary,5%),lighten(@bg_secondary,0%));
	a.cart_modal_link {
		text-shadow:1px 1px 1px darken(@bg_secondary,10%);
	}
}
#vm_product {
	.moduletable {
		> h3 {
			border-bottom:3px solid lighten(@bg_primary,10%);
		}
	}
	.owl-theme .owl-controls .owl-buttons {
		div {
			.hexBackgroundToRGBA(@bg_primary,.25);	
			&:hover {
				.hexBackgroundToRGBA(@bg_primary,.5);
			}
		}			
	}	
}

/* MainMenu
/**************/
#mainmenu {
	#gradient .vertical (lighten(@bg_primary,5%),lighten(@bg_primary,0%));
	.navbar-inner {
		ul.nav {
			margin-right:5px;	
			> li {
				padding-right:5px;
				> a {
					text-shadow:1px 1px 1px darken(@bg_primary,10%);
					.caret {
						border-top-color:lighten(@bg_primary,20%);
						border-bottom-color: lighten(@bg_primary,20%);
					}					
				}		
				&.active {			
					> a	{
						#gradient .vertical (darken(@bg_primary,0%),darken(@bg_primary,5%));
					}
					 &:after {
						border-top: 12px solid darken(@bg_primary,5%);
					} 
				}	
				&.dropdown.open > a	{
					#gradient .vertical (darken(@bg_primary,0%),darken(@bg_primary,5%));
				}	
			}
		}
	}
	.dropdown-menu {
		background:darken(@bg_primary,5%);	
		> li {	
			> a {
				text-shadow:1px 1px 1px darken(@bg_primary,10%);
				&:hover,
				&:focus {
					background:darken(@bg_secondary,0%);
				}
			}
			&.active > a {
				background:darken(@bg_secondary,0%);
			}	
		}
		.divider {
			background: darken(@bg_primary,10%);
			border-bottom-color:lighten(@bg_primary,25%);
		}
		.nav-header {
			color:#fff;
			text-shadow:1px 1px 1px darken(@bg_primary,10%);
			border-bottom:1px dotted lighten(@bg_primary,25%);
		}
	}
	.dropdown-submenu {
		&:hover > a {
			background:darken(@bg_primary,5%);
		}
	}
}

/* Responsive Part */
@media @tablet {
	#mainmenu {
		background:@bg_primary;
		&.navbar .btn-navbar {
			background:@bg_secondary;
			&:hover {
				background:lighten(@bg_secondary,5%);
			}				
		}
		.navbar-inner ul.nav > li > a,
		.navbar-inner ul.nav > li > a:hover {
			text-shadow:1px 1px 1px darken(@bg_primary,10%)!important;		
			 .caret {
				 border-top-color:lighten(@bg_primary,25%)!important;
				 border-bottom-color: lighten(@bg_primary,25%)!important;
			 }
		}
		.navbar-inner ul.nav > li.active > a,
		.navbar-inner ul.nav > li.dropdown.open > a {
			background:darken(@bg_primary,5%);
		}
	}
}