/* Compiled Less CSS File */
/* Generated from "style3.css" */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element {
  width: 2px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: NaN a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Import LESS variables and mixins files */
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* responsive variables */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
  background: #bc1515;
  text-shadow: 1px 1px 1px #600a0a;
}
.btn.icebtn:hover,
p.readmore a.btn:hover {
  background-color: #d31717;
}
.btn.icebtn.icebtn-more:before,
p.readmore a.btn.icebtn-more:before {
  background: #d31717;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #a51212;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #a51212;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #a51212;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #a51212;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #a51212;
}
.tooltip .tooltip-inner {
  background: #a51212;
}
/* Joomla 
----------*/
p.readmore a.btn span.icon-chevron-right {
  text-shadow: 1px 1px 1px #770d0d;
}
#search form .inputbox:focus,
#search form .input-medium:focus {
  box-shadow: 0 0 12px #f8bebe;
}
.newsflash-carousel ol.flex-control-nav li a.flex-active {
  background: #d31717;
}
body.contentpane .mailto-close a {
  background: #a51212 url(../../images/system/icon_close.png) no-repeat center;
}
body.contentpane .mailto-close a:hover {
  background-color: #e61d1d;
}
/* Extras 
-----------*/
#slideshow .camera_pag ul li:hover {
  background: #e93434;
}
#slideshow .camera_pag ul li.cameracurrent {
  background: #e93434;
}
#testimonials blockquote:before,
#testimonials blockquote:after {
  color: #a51212;
}
#testimonials.owl-theme .owl-controls .owl-buttons div {
  background-image: url("../../images/styles/style3/showcase_arrows.png");
}
ul#jj_sl_navigation li a {
  background-color: #cd3a3a !important;
}
ul#jj_sl_navigation li a:hover {
  background-color: #d76363 !important;
}
.iceslide_link {
  background-color: #a51212;
  background-color: rgba(165, 18, 18, 0.8);
}
.iceslide_link:hover {
  background-color: #a51212;
}
#iceslide .close {
  background: #a51212;
}
#iceslide .close:hover {
  background: #bc1515;
}
#gotop .scrollup {
  background-color: #b0b6aa;
  background-color: rgba(176, 182, 170, 0.7);
}
#gotop.gotop_active .scrollup:hover {
  background-color: #969e8f;
  background-color: rgba(150, 158, 143, 0.7);
}
body.page-about .page-team ul li a:hover {
  color: #a51212;
}
body.page-contact ul.icesocialblock li a:hover {
  color: #a51212;
}
body.page-pricing div.pricing-table .pricing-table-header {
  background-color: #d04646;
  background-image: -moz-linear-gradient(top, #d24e4e, #cd3a3a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d24e4e), to(#cd3a3a));
  background-image: -webkit-linear-gradient(top, #d24e4e, #cd3a3a);
  background-image: -o-linear-gradient(top, #d24e4e, #cd3a3a);
  background-image: linear-gradient(to bottom, #d24e4e, #cd3a3a);
  background: -moz-linear-gradient(top, #d24e4e, #cd3a3a);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d24e4e), to(#cd3a3a));
  background: -webkit-linear-gradient(top, #d24e4e, #cd3a3a);
  background: -o-linear-gradient(top, #d24e4e, #cd3a3a);
  background: linear-gradient(to bottom, #d24e4e, #cd3a3a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd24e4e', endColorstr='#ffcd3a3a', GradientType=0);
}
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected:hover,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected:hover {
  background: #bc1515;
}
.item-pagepage-portfolio .project-nav a {
  background-color: #d31717;
}
.item-pagepage-portfolio .project-nav a:hover {
  background-color: #e93434;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a {
  background-color: #d31717;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a:hover {
  background-color: #e93434;
}
body.offline_page #offline_social ul li a:hover {
  color: #a51212;
}
/* Layout
*-----------------*/
body {
  background-image: url("../../images/styles/style3/bg_pattern.png");
}
body.body_preload .body_preload_area .spinner div {
  background-color: #bc1515;
}
#header #header_contact [class^="icon-"] {
  color: #a51212;
}
#content #message .moduletable > h3 {
  border-bottom: 3px solid #d31717;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 .sidebar_module_heading {
  border-bottom-color: #d31717;
}
/* Virtuemart
/**************/
body .ratingbox,
body .ratingbox div,
body .ratingbox span {
  background-image: url("../../images/styles/style3/vm_stars.png");
}
body .addtocart-area .addtocart-bar {
  background: #cd3a3a;
}
body .addtocart-area .addtocart-bar span.addtocart-button input.addtocart-button {
  text-shadow: 1px 1px 1px #a92b2b;
}
body .featured-view h4,
body .latest-view h4,
body .topten-view h4,
body .recent-view h4,
body .related-products-view h4 {
  border-bottom: 3px solid #d31717;
}
body .cart-view .checkout-button-top button:focus {
  background: #bc1515;
}
#cart {
  background-color: #d04646;
  background-image: -moz-linear-gradient(top, #d24e4e, #cd3a3a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d24e4e), to(#cd3a3a));
  background-image: -webkit-linear-gradient(top, #d24e4e, #cd3a3a);
  background-image: -o-linear-gradient(top, #d24e4e, #cd3a3a);
  background-image: linear-gradient(to bottom, #d24e4e, #cd3a3a);
  background: -moz-linear-gradient(top, #d24e4e, #cd3a3a);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d24e4e), to(#cd3a3a));
  background: -webkit-linear-gradient(top, #d24e4e, #cd3a3a);
  background: -o-linear-gradient(top, #d24e4e, #cd3a3a);
  background: linear-gradient(to bottom, #d24e4e, #cd3a3a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd24e4e', endColorstr='#ffcd3a3a', GradientType=0);
}
#cart a.cart_modal_link {
  text-shadow: 1px 1px 1px #a92b2b;
}
#vm_product .moduletable > h3 {
  border-bottom: 3px solid #d31717;
}
#vm_product .owl-theme .owl-controls .owl-buttons div {
  background-color: #a51212;
  background-color: rgba(165, 18, 18, 0.25);
}
#vm_product .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #a51212;
  background-color: rgba(165, 18, 18, 0.5);
}
/* MainMenu
/**************/
#mainmenu {
  background-color: #b31414;
  background-image: -moz-linear-gradient(top, #bc1515, #a51212);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bc1515), to(#a51212));
  background-image: -webkit-linear-gradient(top, #bc1515, #a51212);
  background-image: -o-linear-gradient(top, #bc1515, #a51212);
  background-image: linear-gradient(to bottom, #bc1515, #a51212);
  background: -moz-linear-gradient(top, #bc1515, #a51212);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#bc1515), to(#a51212));
  background: -webkit-linear-gradient(top, #bc1515, #a51212);
  background: -o-linear-gradient(top, #bc1515, #a51212);
  background: linear-gradient(to bottom, #bc1515, #a51212);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbc1515', endColorstr='#ffa51212', GradientType=0);
}
#mainmenu .navbar-inner ul.nav {
  margin-right: 5px;
}
#mainmenu .navbar-inner ul.nav > li {
  padding-right: 5px;
}
#mainmenu .navbar-inner ul.nav > li > a {
  text-shadow: 1px 1px 1px #770d0d;
}
#mainmenu .navbar-inner ul.nav > li > a .caret {
  border-top-color: #e93434;
  border-bottom-color: #e93434;
}
#mainmenu .navbar-inner ul.nav > li.active > a {
  background-color: #9c1111;
  background-image: -moz-linear-gradient(top, #a51212, #8e0f0f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a51212), to(#8e0f0f));
  background-image: -webkit-linear-gradient(top, #a51212, #8e0f0f);
  background-image: -o-linear-gradient(top, #a51212, #8e0f0f);
  background-image: linear-gradient(to bottom, #a51212, #8e0f0f);
  background: -moz-linear-gradient(top, #a51212, #8e0f0f);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#a51212), to(#8e0f0f));
  background: -webkit-linear-gradient(top, #a51212, #8e0f0f);
  background: -o-linear-gradient(top, #a51212, #8e0f0f);
  background: linear-gradient(to bottom, #a51212, #8e0f0f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa51212', endColorstr='#ff8e0f0f', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.active:after {
  border-top: 12px solid #8e0f0f;
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
  background-color: #9c1111;
  background-image: -moz-linear-gradient(top, #a51212, #8e0f0f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a51212), to(#8e0f0f));
  background-image: -webkit-linear-gradient(top, #a51212, #8e0f0f);
  background-image: -o-linear-gradient(top, #a51212, #8e0f0f);
  background-image: linear-gradient(to bottom, #a51212, #8e0f0f);
  background: -moz-linear-gradient(top, #a51212, #8e0f0f);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#a51212), to(#8e0f0f));
  background: -webkit-linear-gradient(top, #a51212, #8e0f0f);
  background: -o-linear-gradient(top, #a51212, #8e0f0f);
  background: linear-gradient(to bottom, #a51212, #8e0f0f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa51212', endColorstr='#ff8e0f0f', GradientType=0);
}
#mainmenu .dropdown-menu {
  background: #8e0f0f;
}
#mainmenu .dropdown-menu > li > a {
  text-shadow: 1px 1px 1px #770d0d;
}
#mainmenu .dropdown-menu > li > a:hover,
#mainmenu .dropdown-menu > li > a:focus {
  background: #cd3a3a;
}
#mainmenu .dropdown-menu > li.active > a {
  background: #cd3a3a;
}
#mainmenu .dropdown-menu .divider {
  background: #770d0d;
  border-bottom-color: #eb4b4b;
}
#mainmenu .dropdown-menu .nav-header {
  color: #fff;
  text-shadow: 1px 1px 1px #770d0d;
  border-bottom: 1px dotted #eb4b4b;
}
#mainmenu .dropdown-submenu:hover > a {
  background: #8e0f0f;
}
/* Responsive Part */
@media only screen and (max-width: 979px) {
  #mainmenu {
    background: #a51212;
  }
  #mainmenu.navbar .btn-navbar {
    background: #cd3a3a;
  }
  #mainmenu.navbar .btn-navbar:hover {
    background: #d24e4e;
  }
  #mainmenu .navbar-inner ul.nav > li > a,
  #mainmenu .navbar-inner ul.nav > li > a:hover {
    text-shadow: 1px 1px 1px #770d0d !important;
  }
  #mainmenu .navbar-inner ul.nav > li > a .caret,
  #mainmenu .navbar-inner ul.nav > li > a:hover .caret {
    border-top-color: #eb4b4b !important;
    border-bottom-color: #eb4b4b !important;
  }
  #mainmenu .navbar-inner ul.nav > li.active > a,
  #mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
    background: #8e0f0f;
  }
}