/* Compiled Less CSS File */
/* Generated from "style1.css" */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element {
  width: 2px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: NaN a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Import LESS variables and mixins files */
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* responsive variables */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
  background: #026ea5;
  text-shadow: 1px 1px 1px #012b41;
}
.btn.icebtn:hover,
p.readmore a.btn:hover {
  background-color: #037ebe;
}
.btn.icebtn.icebtn-more:before,
p.readmore a.btn.icebtn-more:before {
  background: #037ebe;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #025d8c;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #025d8c;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #025d8c;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #025d8c;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #025d8c;
}
.tooltip .tooltip-inner {
  background: #025d8c;
}
/* Joomla 
----------*/
p.readmore a.btn span.icon-chevron-right {
  text-shadow: 1px 1px 1px #013c5a;
}
#search form .inputbox:focus,
#search form .input-medium:focus {
  box-shadow: 0 0 12px #90d8fd;
}
.newsflash-carousel ol.flex-control-nav li a.flex-active {
  background: #037ebe;
}
body.contentpane .mailto-close a {
  background: #025d8c url(../../images/system/icon_close.png) no-repeat center;
}
body.contentpane .mailto-close a:hover {
  background-color: #038fd7;
}
/* Extras 
-----------*/
#slideshow .camera_pag ul li:hover {
  background: #03a0f1;
}
#slideshow .camera_pag ul li.cameracurrent {
  background: #03a0f1;
}
#testimonials blockquote:before,
#testimonials blockquote:after {
  color: #025d8c;
}
#testimonials.owl-theme .owl-controls .owl-buttons div {
  background-image: url("../../images/styles/style1/showcase_arrows.png");
}
ul#jj_sl_navigation li a {
  background-color: #089abd !important;
}
ul#jj_sl_navigation li a:hover {
  background-color: #0ac2ee !important;
}
.iceslide_link {
  background-color: #025d8c;
  background-color: rgba(2, 93, 140, 0.8);
}
.iceslide_link:hover {
  background-color: #025d8c;
}
#iceslide .close {
  background: #025d8c;
}
#iceslide .close:hover {
  background: #026ea5;
}
#gotop .scrollup {
  background-color: #b0b6aa;
  background-color: rgba(176, 182, 170, 0.7);
}
#gotop.gotop_active .scrollup:hover {
  background-color: #969e8f;
  background-color: rgba(150, 158, 143, 0.7);
}
body.page-about .page-team ul li a:hover {
  color: #025d8c;
}
body.page-contact ul.icesocialblock li a:hover {
  color: #025d8c;
}
body.page-pricing div.pricing-table .pricing-table-header {
  background-color: #09a6cc;
  background-image: -moz-linear-gradient(top, #09aed5, #089abd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#09aed5), to(#089abd));
  background-image: -webkit-linear-gradient(top, #09aed5, #089abd);
  background-image: -o-linear-gradient(top, #09aed5, #089abd);
  background-image: linear-gradient(to bottom, #09aed5, #089abd);
  background: -moz-linear-gradient(top, #09aed5, #089abd);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#09aed5), to(#089abd));
  background: -webkit-linear-gradient(top, #09aed5, #089abd);
  background: -o-linear-gradient(top, #09aed5, #089abd);
  background: linear-gradient(to bottom, #09aed5, #089abd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff09aed5', endColorstr='#ff089abd', GradientType=0);
}
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected:hover,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected:hover {
  background: #026ea5;
}
.item-pagepage-portfolio .project-nav a {
  background-color: #037ebe;
}
.item-pagepage-portfolio .project-nav a:hover {
  background-color: #03a0f1;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a {
  background-color: #037ebe;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a:hover {
  background-color: #03a0f1;
}
body.offline_page #offline_social ul li a:hover {
  color: #025d8c;
}
/* Layout
*-----------------*/
body {
  background-image: url("../../images/styles/style1/bg_pattern.png");
}
body.body_preload .body_preload_area .spinner div {
  background-color: #026ea5;
}
#header #header_contact [class^="icon-"] {
  color: #025d8c;
}
#content #message .moduletable > h3 {
  border-bottom: 3px solid #037ebe;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 .sidebar_module_heading {
  border-bottom-color: #037ebe;
}
/* Virtuemart
/**************/
body .ratingbox,
body .ratingbox div,
body .ratingbox span {
  background-image: url("../../images/styles/style1/vm_stars.png");
}
body .addtocart-area .addtocart-bar {
  background: #089abd;
}
body .addtocart-area .addtocart-bar span.addtocart-button input.addtocart-button {
  text-shadow: 1px 1px 1px #06728c;
}
body .featured-view h4,
body .latest-view h4,
body .topten-view h4,
body .recent-view h4,
body .related-products-view h4 {
  border-bottom: 3px solid #037ebe;
}
body .cart-view .checkout-button-top button:focus {
  background: #026ea5;
}
#cart {
  background-color: #09a6cc;
  background-image: -moz-linear-gradient(top, #09aed5, #089abd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#09aed5), to(#089abd));
  background-image: -webkit-linear-gradient(top, #09aed5, #089abd);
  background-image: -o-linear-gradient(top, #09aed5, #089abd);
  background-image: linear-gradient(to bottom, #09aed5, #089abd);
  background: -moz-linear-gradient(top, #09aed5, #089abd);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#09aed5), to(#089abd));
  background: -webkit-linear-gradient(top, #09aed5, #089abd);
  background: -o-linear-gradient(top, #09aed5, #089abd);
  background: linear-gradient(to bottom, #09aed5, #089abd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff09aed5', endColorstr='#ff089abd', GradientType=0);
}
#cart a.cart_modal_link {
  text-shadow: 1px 1px 1px #06728c;
}
#vm_product .moduletable > h3 {
  border-bottom: 3px solid #037ebe;
}
#vm_product .owl-theme .owl-controls .owl-buttons div {
  background-color: #025d8c;
  background-color: rgba(2, 93, 140, 0.25);
}
#vm_product .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #025d8c;
  background-color: rgba(2, 93, 140, 0.5);
}
/* MainMenu
/**************/
#mainmenu {
  background-color: #02679b;
  background-image: -moz-linear-gradient(top, #026ea5, #025d8c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#026ea5), to(#025d8c));
  background-image: -webkit-linear-gradient(top, #026ea5, #025d8c);
  background-image: -o-linear-gradient(top, #026ea5, #025d8c);
  background-image: linear-gradient(to bottom, #026ea5, #025d8c);
  background: -moz-linear-gradient(top, #026ea5, #025d8c);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#026ea5), to(#025d8c));
  background: -webkit-linear-gradient(top, #026ea5, #025d8c);
  background: -o-linear-gradient(top, #026ea5, #025d8c);
  background: linear-gradient(to bottom, #026ea5, #025d8c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff026ea5', endColorstr='#ff025d8c', GradientType=0);
}
#mainmenu .navbar-inner ul.nav {
  margin-right: 5px;
}
#mainmenu .navbar-inner ul.nav > li {
  padding-right: 5px;
}
#mainmenu .navbar-inner ul.nav > li > a {
  text-shadow: 1px 1px 1px #013c5a;
}
#mainmenu .navbar-inner ul.nav > li > a .caret {
  border-top-color: #03a0f1;
  border-bottom-color: #03a0f1;
}
#mainmenu .navbar-inner ul.nav > li.active > a {
  background-color: #025682;
  background-image: -moz-linear-gradient(top, #025d8c, #024c73);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#025d8c), to(#024c73));
  background-image: -webkit-linear-gradient(top, #025d8c, #024c73);
  background-image: -o-linear-gradient(top, #025d8c, #024c73);
  background-image: linear-gradient(to bottom, #025d8c, #024c73);
  background: -moz-linear-gradient(top, #025d8c, #024c73);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#025d8c), to(#024c73));
  background: -webkit-linear-gradient(top, #025d8c, #024c73);
  background: -o-linear-gradient(top, #025d8c, #024c73);
  background: linear-gradient(to bottom, #025d8c, #024c73);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff025d8c', endColorstr='#ff024c73', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.active:after {
  border-top: 12px solid #024c73;
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
  background-color: #025682;
  background-image: -moz-linear-gradient(top, #025d8c, #024c73);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#025d8c), to(#024c73));
  background-image: -webkit-linear-gradient(top, #025d8c, #024c73);
  background-image: -o-linear-gradient(top, #025d8c, #024c73);
  background-image: linear-gradient(to bottom, #025d8c, #024c73);
  background: -moz-linear-gradient(top, #025d8c, #024c73);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#025d8c), to(#024c73));
  background: -webkit-linear-gradient(top, #025d8c, #024c73);
  background: -o-linear-gradient(top, #025d8c, #024c73);
  background: linear-gradient(to bottom, #025d8c, #024c73);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff025d8c', endColorstr='#ff024c73', GradientType=0);
}
#mainmenu .dropdown-menu {
  background: #024c73;
}
#mainmenu .dropdown-menu > li > a {
  text-shadow: 1px 1px 1px #013c5a;
}
#mainmenu .dropdown-menu > li > a:hover,
#mainmenu .dropdown-menu > li > a:focus {
  background: #089abd;
}
#mainmenu .dropdown-menu > li.active > a {
  background: #089abd;
}
#mainmenu .dropdown-menu .divider {
  background: #013c5a;
  border-bottom-color: #12acfc;
}
#mainmenu .dropdown-menu .nav-header {
  color: #fff;
  text-shadow: 1px 1px 1px #013c5a;
  border-bottom: 1px dotted #12acfc;
}
#mainmenu .dropdown-submenu:hover > a {
  background: #024c73;
}
/* Responsive Part */
@media only screen and (max-width: 979px) {
  #mainmenu {
    background: #025d8c;
  }
  #mainmenu.navbar .btn-navbar {
    background: #089abd;
  }
  #mainmenu.navbar .btn-navbar:hover {
    background: #09aed5;
  }
  #mainmenu .navbar-inner ul.nav > li > a,
  #mainmenu .navbar-inner ul.nav > li > a:hover {
    text-shadow: 1px 1px 1px #013c5a !important;
  }
  #mainmenu .navbar-inner ul.nav > li > a .caret,
  #mainmenu .navbar-inner ul.nav > li > a:hover .caret {
    border-top-color: #12acfc !important;
    border-bottom-color: #12acfc !important;
  }
  #mainmenu .navbar-inner ul.nav > li.active > a,
  #mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
    background: #024c73;
  }
}