/* Compiled Less CSS File */
/* Generated from "style6.css" */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element {
  width: 2px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: NaN a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Import LESS variables and mixins files */
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* responsive variables */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
  background: #363636;
  text-shadow: 1px 1px 1px #030303;
}
.btn.icebtn:hover,
p.readmore a.btn:hover {
  background-color: #434343;
}
.btn.icebtn.icebtn-more:before,
p.readmore a.btn.icebtn-more:before {
  background: #434343;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #292929;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #292929;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #292929;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #292929;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #292929;
}
.tooltip .tooltip-inner {
  background: #292929;
}
/* Joomla 
----------*/
p.readmore a.btn span.icon-chevron-right {
  text-shadow: 1px 1px 1px #101010;
}
#search form .inputbox:focus,
#search form .input-medium:focus {
  box-shadow: 0 0 12px #a9a9a9;
}
.newsflash-carousel ol.flex-control-nav li a.flex-active {
  background: #434343;
}
body.contentpane .mailto-close a {
  background: #292929 url(../../images/system/icon_close.png) no-repeat center;
}
body.contentpane .mailto-close a:hover {
  background-color: #4f4f4f;
}
/* Extras 
-----------*/
#slideshow .camera_pag ul li:hover {
  background: #5c5c5c;
}
#slideshow .camera_pag ul li.cameracurrent {
  background: #5c5c5c;
}
#testimonials blockquote:before,
#testimonials blockquote:after {
  color: #292929;
}
#testimonials.owl-theme .owl-controls .owl-buttons div {
  background-image: url("../../images/styles/style6/showcase_arrows.png");
}
ul#jj_sl_navigation li a {
  background-color: #666666 !important;
}
ul#jj_sl_navigation li a:hover {
  background-color: #808080 !important;
}
.iceslide_link {
  background-color: #292929;
  background-color: rgba(41, 41, 41, 0.8);
}
.iceslide_link:hover {
  background-color: #292929;
}
#iceslide .close {
  background: #292929;
}
#iceslide .close:hover {
  background: #363636;
}
#gotop .scrollup {
  background-color: #b0b6aa;
  background-color: rgba(176, 182, 170, 0.7);
}
#gotop.gotop_active .scrollup:hover {
  background-color: #969e8f;
  background-color: rgba(150, 158, 143, 0.7);
}
body.page-about .page-team ul li a:hover {
  color: #292929;
}
body.page-contact ul.icesocialblock li a:hover {
  color: #292929;
}
body.page-pricing div.pricing-table .pricing-table-header {
  background-color: #6e6e6e;
  background-image: -moz-linear-gradient(top, #737373, #666666);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#737373), to(#666666));
  background-image: -webkit-linear-gradient(top, #737373, #666666);
  background-image: -o-linear-gradient(top, #737373, #666666);
  background-image: linear-gradient(to bottom, #737373, #666666);
  background: -moz-linear-gradient(top, #737373, #666666);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#737373), to(#666666));
  background: -webkit-linear-gradient(top, #737373, #666666);
  background: -o-linear-gradient(top, #737373, #666666);
  background: linear-gradient(to bottom, #737373, #666666);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff737373', endColorstr='#ff666666', GradientType=0);
}
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected:hover,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected:hover {
  background: #363636;
}
.item-pagepage-portfolio .project-nav a {
  background-color: #434343;
}
.item-pagepage-portfolio .project-nav a:hover {
  background-color: #5c5c5c;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a {
  background-color: #434343;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a:hover {
  background-color: #5c5c5c;
}
body.offline_page #offline_social ul li a:hover {
  color: #292929;
}
/* Layout
*-----------------*/
body {
  background-image: url("../../images/styles/style6/bg_pattern.png");
}
body.body_preload .body_preload_area .spinner div {
  background-color: #363636;
}
#header #header_contact [class^="icon-"] {
  color: #292929;
}
#content #message .moduletable > h3 {
  border-bottom: 3px solid #434343;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 .sidebar_module_heading {
  border-bottom-color: #434343;
}
/* Virtuemart
/**************/
body .ratingbox,
body .ratingbox div,
body .ratingbox span {
  background-image: url("../../images/styles/style6/vm_stars.png");
}
body .addtocart-area .addtocart-bar {
  background: #666666;
}
body .addtocart-area .addtocart-bar span.addtocart-button input.addtocart-button {
  text-shadow: 1px 1px 1px #4d4d4d;
}
body .featured-view h4,
body .latest-view h4,
body .topten-view h4,
body .recent-view h4,
body .related-products-view h4 {
  border-bottom: 3px solid #434343;
}
body .cart-view .checkout-button-top button:focus {
  background: #363636;
}
#cart {
  background-color: #6e6e6e;
  background-image: -moz-linear-gradient(top, #737373, #666666);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#737373), to(#666666));
  background-image: -webkit-linear-gradient(top, #737373, #666666);
  background-image: -o-linear-gradient(top, #737373, #666666);
  background-image: linear-gradient(to bottom, #737373, #666666);
  background: -moz-linear-gradient(top, #737373, #666666);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#737373), to(#666666));
  background: -webkit-linear-gradient(top, #737373, #666666);
  background: -o-linear-gradient(top, #737373, #666666);
  background: linear-gradient(to bottom, #737373, #666666);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff737373', endColorstr='#ff666666', GradientType=0);
}
#cart a.cart_modal_link {
  text-shadow: 1px 1px 1px #4d4d4d;
}
#vm_product .moduletable > h3 {
  border-bottom: 3px solid #434343;
}
#vm_product .owl-theme .owl-controls .owl-buttons div {
  background-color: #292929;
  background-color: rgba(41, 41, 41, 0.25);
}
#vm_product .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #292929;
  background-color: rgba(41, 41, 41, 0.5);
}
/* MainMenu
/**************/
#mainmenu {
  background-color: #313131;
  background-image: -moz-linear-gradient(top, #363636, #292929);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#363636), to(#292929));
  background-image: -webkit-linear-gradient(top, #363636, #292929);
  background-image: -o-linear-gradient(top, #363636, #292929);
  background-image: linear-gradient(to bottom, #363636, #292929);
  background: -moz-linear-gradient(top, #363636, #292929);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#363636), to(#292929));
  background: -webkit-linear-gradient(top, #363636, #292929);
  background: -o-linear-gradient(top, #363636, #292929);
  background: linear-gradient(to bottom, #363636, #292929);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff363636', endColorstr='#ff292929', GradientType=0);
}
#mainmenu .navbar-inner ul.nav {
  margin-right: 5px;
}
#mainmenu .navbar-inner ul.nav > li {
  padding-right: 5px;
}
#mainmenu .navbar-inner ul.nav > li > a {
  text-shadow: 1px 1px 1px #101010;
}
#mainmenu .navbar-inner ul.nav > li > a .caret {
  border-top-color: #5c5c5c;
  border-bottom-color: #5c5c5c;
}
#mainmenu .navbar-inner ul.nav > li.active > a {
  background-color: #242424;
  background-image: -moz-linear-gradient(top, #292929, #1c1c1c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#292929), to(#1c1c1c));
  background-image: -webkit-linear-gradient(top, #292929, #1c1c1c);
  background-image: -o-linear-gradient(top, #292929, #1c1c1c);
  background-image: linear-gradient(to bottom, #292929, #1c1c1c);
  background: -moz-linear-gradient(top, #292929, #1c1c1c);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#292929), to(#1c1c1c));
  background: -webkit-linear-gradient(top, #292929, #1c1c1c);
  background: -o-linear-gradient(top, #292929, #1c1c1c);
  background: linear-gradient(to bottom, #292929, #1c1c1c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff292929', endColorstr='#ff1c1c1c', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.active:after {
  border-top: 12px solid #1c1c1c;
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
  background-color: #242424;
  background-image: -moz-linear-gradient(top, #292929, #1c1c1c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#292929), to(#1c1c1c));
  background-image: -webkit-linear-gradient(top, #292929, #1c1c1c);
  background-image: -o-linear-gradient(top, #292929, #1c1c1c);
  background-image: linear-gradient(to bottom, #292929, #1c1c1c);
  background: -moz-linear-gradient(top, #292929, #1c1c1c);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#292929), to(#1c1c1c));
  background: -webkit-linear-gradient(top, #292929, #1c1c1c);
  background: -o-linear-gradient(top, #292929, #1c1c1c);
  background: linear-gradient(to bottom, #292929, #1c1c1c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff292929', endColorstr='#ff1c1c1c', GradientType=0);
}
#mainmenu .dropdown-menu {
  background: #1c1c1c;
}
#mainmenu .dropdown-menu > li > a {
  text-shadow: 1px 1px 1px #101010;
}
#mainmenu .dropdown-menu > li > a:hover,
#mainmenu .dropdown-menu > li > a:focus {
  background: #666666;
}
#mainmenu .dropdown-menu > li.active > a {
  background: #666666;
}
#mainmenu .dropdown-menu .divider {
  background: #101010;
  border-bottom-color: #696969;
}
#mainmenu .dropdown-menu .nav-header {
  color: #fff;
  text-shadow: 1px 1px 1px #101010;
  border-bottom: 1px dotted #696969;
}
#mainmenu .dropdown-submenu:hover > a {
  background: #1c1c1c;
}
/* Responsive Part */
@media only screen and (max-width: 979px) {
  #mainmenu {
    background: #292929;
  }
  #mainmenu.navbar .btn-navbar {
    background: #666666;
  }
  #mainmenu.navbar .btn-navbar:hover {
    background: #737373;
  }
  #mainmenu .navbar-inner ul.nav > li > a,
  #mainmenu .navbar-inner ul.nav > li > a:hover {
    text-shadow: 1px 1px 1px #101010 !important;
  }
  #mainmenu .navbar-inner ul.nav > li > a .caret,
  #mainmenu .navbar-inner ul.nav > li > a:hover .caret {
    border-top-color: #696969 !important;
    border-bottom-color: #696969 !important;
  }
  #mainmenu .navbar-inner ul.nav > li.active > a,
  #mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
    background: #1c1c1c;
  }
}