/**
 * Main stylesheet
 *
 * @package         NoNumber Framework
 * @version         15.1.4
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2015 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/**
 * Stylesheet for font faces
 *
 * @package         NoNumber Framework
 * @version         15.1.4
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2015 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
@font-face {
  font-family: 'NoNumber';
  src: url('../fonts/NoNumber.eot');
  src: url('../fonts/NoNumber.eot?#iefix') format('embedded-opentype'), url('../fonts/NoNumber.woff') format('woff'), url('../fonts/NoNumber.ttf') format('truetype'), url('../fonts/NoNumber.svg#nonumber') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NNIcons';
  src: url('../fonts/NNIcons.eot');
  src: url('../fonts/NNIcons.eot?#iefix') format('embedded-opentype'), url('../fonts/NNIcons.woff') format('woff'), url('../fonts/NNIcons.ttf') format('truetype'), url('../fonts/NNIcons.svg#NNIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-nonumber,
[class^="nnicon-"],
[class*=" nnicon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 16px;
  font-size: 16px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-nonumber:before {
  font-family: 'NoNumber' !important;
  font-size: 14.2px !important;
}
.btn .icon-nonumber {
  text-indent: -2px;
}
.btn .icon-nonumber:before {
  vertical-align: -3px;
}
.icon-nonumber-24:before {
  vertical-align: -5px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .icon-nonumber-24:before {
    vertical-align: -3px;
  }
}
.btn .icon-nonumber {
  text-indent: -2px;
}
.icon-nonumber:before {
  content: "\e000";
}
.icon-addtomenu:before {
  content: "\e001";
}
.icon-adminbardocker:before {
  content: "\e002";
}
.icon-advancedmodulemanager:before {
  content: "\e003";
}
.icon-advancedtemplatemanager:before {
  content: "\e015";
}
.icon-articlesanywhere:before {
  content: "\e004";
}
.icon-betterpreview:before {
  content: "\e005";
}
.icon-cachecleaner:before {
  content: "\e006";
}
.icon-cdnforjoomla:before {
  content: "\e007";
}
.icon-componentsanywhere:before {
  content: "\e008";
}
.icon-contenttemplater:before {
  content: "\e009";
}
.icon-dbreplacer:before {
  content: "\e00a";
}
.icon-dummycontent:before {
  content: "\e017";
}
.icon-emailprotector:before {
  content: "\e00b";
}
.icon-iplogin:before {
  content: "\e016";
}
.icon-modals:before,
.icon-modalizer:before {
  content: "\e00c";
}
.icon-modulesanywhere:before {
  content: "\e00d";
}
.icon-rereplacer:before {
  content: "\e00e";
}
.icon-sliders:before {
  content: "\e00f";
}
.icon-snippets:before {
  content: "\e010";
}
.icon-sourcerer:before {
  content: "\e011";
}
.icon-tabs:before {
  content: "\e012";
}
.icon-timedstyles:before {
  content: "\e013";
}
.icon-tooltips:before {
  content: "\e014";
}
.icon-whatnothing:before {
  content: " ";
  width: 16px;
  display: inline-block;
}
[class^="nnicon-"]:before,
[class*=" nnicon-"]:before {
  font-family: 'NNIcons' !important;
}
.nnicon-paragraph-left:before {
  content: "\e001";
}
.nnicon-paragraph-center:before {
  content: "\e002";
}
.nnicon-paragraph-right:before {
  content: "\e003";
}
.nnicon-paragraph-justify:before {
  content: "\e004";
}
.nnicon-undo:before {
  content: "\e005";
}
.nnicon-redo:before {
  content: "\e006";
}
.nnicon-spinner:before {
  content: "\e007";
}
.nnicon-lock:before {
  content: "\e008";
}
.nnicon-unlocked:before {
  content: "\e009";
}
.nnicon-cog:before {
  content: "\e00a";
}
.nnicon-arrow-up:before {
  content: "\e00b";
}
.nnicon-arrow-right:before {
  content: "\e00c";
}
.nnicon-arrow-down:before {
  content: "\e00d";
}
.nnicon-arrow-left:before {
  content: "\e00e";
}
.nnicon-top:before {
  content: "\e00f";
}
.nnicon-bottom:before {
  content: "\e010";
}
.nnicon-simple:before {
  content: "\e011";
}
.nnicon-normal:before {
  content: "\e012";
}
.nnicon-advanced:before {
  content: "\e013";
}
.nnicon-home:before {
  content: "\e014";
}
.nnicon-info:before {
  content: "\e015";
}
.nnicon-warning:before {
  content: "\e016";
}
.nnicon-not-ok:before {
  content: "\e017";
}
.nnicon-link:before {
  content: "\e018";
}
.nnicon-eye:before {
  content: "\e019";
}
.nnicon-search:before {
  content: "\e01a";
}
.nnicon-earth:before {
  content: "\e01f";
}
.icon-nonumber.icon-src-sourcetags:before,
.nnicon-src-sourcetags:before {
  font-family: 'NNIcons' !important;
  content: "\e01b";
}
.icon-nonumber.icon-src-nosourcetags:before,
.nnicon-src-nosourcetags:before {
  font-family: 'NNIcons' !important;
  content: "\e01c";
}
.icon-nonumber.icon-src-tagstyle:before,
.nnicon-src-tagstyle:before {
  font-family: 'NNIcons' !important;
  content: "\e01d";
}
.icon-nonumber.icon-src-tagstylebrackets:before,
.nnicon-src-tagstylebrackets:before {
  font-family: 'NNIcons' !important;
  content: "\e01e";
}
.icon-expired:before {
  content: "\6e";
}
.nn_tablelist td {
  height: 22px;
  color: #555555;
}
.nn_tablelist td.has-context {
  height: 23px;
}
fieldset.nn_plaintext {
  margin-top: 5px;
}
.nn_code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: #999999;
}
div.nn_well {
  padding-bottom: 0;
}
div.nn_well h4 {
  margin-top: 6px;
}
.nn_well.alert-success,
.nn_well.alert-error {
  color: #333333;
}
.nn_btn-ignore.btn-danger.active {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.nn_btn-ignore.btn-danger.active:hover,
.nn_btn-ignore.btn-danger.active:focus,
.nn_btn-ignore.btn-danger.active:active,
.nn_btn-ignore.btn-danger.active.active,
.nn_btn-ignore.btn-danger.active.disabled,
.nn_btn-ignore.btn-danger.active[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.nn_btn-ignore.btn-danger.active:active,
.nn_btn-ignore.btn-danger.active.active {
  background-color: #cccccc \9;
}
.nn_btn-exclude.btn-success.active {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.nn_btn-exclude.btn-success.active:hover,
.nn_btn-exclude.btn-success.active:focus,
.nn_btn-exclude.btn-success.active:active,
.nn_btn-exclude.btn-success.active.active,
.nn_btn-exclude.btn-success.active.disabled,
.nn_btn-exclude.btn-success.active[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.nn_btn-exclude.btn-success.active:active,
.nn_btn-exclude.btn-success.active.active {
  background-color: #942a25 \9;
}
.nn_textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header .icon-nonumber:before {
  font-size: 20px !important;
}
.header .status .icon-nonumber:before {
  font-size: 16px !important;
}
.icon-back:before {
  content: "\e008";
}
.inlist .simplecolors-swatch span {
  position: relative;
}
/* Dropdown and dropup fixes */
.btn-toolbar .modal,
.btn-toolbar .dropdown-menu {
  font-size: 13px;
}
.dropdown {
  display: inline-block;
}
.dropdown-menu.dropup-menu {
  bottom: 100%;
  top: auto;
}
/* popovers */
.popover {
  width: auto;
  min-width: 200px;
}
/* icons */
.icon-color {
  background: transparent url(../images/icon-color.png) no-repeat;
  width: 16px !important;
  height: 16px !important;
}
body:not(.tpl_nonumber) .j-main-container .chzn-container-single .chzn-single {
  padding: 2px 12px;
}
body:not(.tpl_nonumber) .chzn-container-single .chzn-single div {
  width: 20px;
}
body:not(.tpl_nonumber) .chzn-container-single .chzn-single div b {
  background: none;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-top: 12px;
}
body:not(.tpl_nonumber) .chzn-container-active.chzn-with-drop .chzn-single div b {
  border-top: none;
  border-bottom: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.chzn-small {
  width: 120px;
}
div.chzn-container[id^="color_"][id$="_chzn"],
div.chzn-container#advancedparams_color_chzn {
  display: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.input-maximize:hover,
.input-maximize:focus,
.input-maximize .chzn-container:hover,
.input-maximize .chzn-with-drop {
  min-width: 100%;
}
.btn-group-yesno-reverse .active.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-group-yesno-reverse .active.btn-success:hover,
.btn-group-yesno-reverse .active.btn-success:focus,
.btn-group-yesno-reverse .active.btn-success:active,
.btn-group-yesno-reverse .active.btn-success.active,
.btn-group-yesno-reverse .active.btn-success.disabled,
.btn-group-yesno-reverse .active.btn-success[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-group-yesno-reverse .active.btn-success:active,
.btn-group-yesno-reverse .active.btn-success.active {
  background-color: #942a25 \9;
}
.btn-group-yesno-reverse .active.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-group-yesno-reverse .active.btn-danger:hover,
.btn-group-yesno-reverse .active.btn-danger:focus,
.btn-group-yesno-reverse .active.btn-danger:active,
.btn-group-yesno-reverse .active.btn-danger.active,
.btn-group-yesno-reverse .active.btn-danger.disabled,
.btn-group-yesno-reverse .active.btn-danger[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-group-yesno-reverse .active.btn-danger:active,
.btn-group-yesno-reverse .active.btn-danger.active {
  background-color: #408140 \9;
}
.thumbnail-small > .thumbnail > img {
  max-width: 40px;
}
input.nn_codefield,
input.nn_keyfield,
div.nn_keycode {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1.4em !important;
}
input.nn_codefield,
input.nn_keyfield {
  font-size: 14px !important;
}
.nn_keycode {
  color: #999999;
  padding: 2px 0;
}
#key_button,
#jform_key_button {
  margin-left: 8px;
}
