/* CSS Document */
.spinner{
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.spinner-img{
	background: url('../images/ajax-loader.gif') no-repeat 50% 50%;
	height: 15px;
	width: 128px;
}
.container{
	position: relative;
	max-width: 900px;
	z-index: 1060;
}
.thumbnail {
	margin-bottom:9px;
}
.accordion-group {
	background:#fff;
}

.step.active span {
	background-color: #f89406;
}

.header {
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9effa), color-stop(25%, #d9effa), to(#ffffff));
	background-image: -webkit-linear-gradient(#d9effa, #d9effa 25%, #ffffff);
	background-image: -moz-linear-gradient(top, #d9effa, #d9effa 25%, #ffffff);
	background-image: -ms-linear-gradient(#d9effa, #d9effa 25%, #ffffff);
	background-image: -o-linear-gradient(#d9effa, #d9effa 25%, #ffffff);
	background-image: linear-gradient(#d9effa, #d9effa 25%, #ffffff);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9effa', endColorstr='#ffffff', GradientType=0);
	border-top: 3px solid #0088cc;
	padding: 20px 0;
	text-align: center;
}

.hero-unit{
	background-color: #08C;
}
.hero-unit h1,
.hero-unit p,
.hero-unit > *{
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/* Page Edit */
.page-edit {
	background:#555 url(../img/noise.png);
	-moz-box-shadow: 0px 0px 40px #111 inset;
	-webkit-box-shadow: 0px 0px 40px #111 inset;
	box-shadow: 0px 0px 40px #111 inset;
}
.page-edit-inner {
	padding:20px 0;
}
.page-edit h1,
.page-edit h2,
.page-edit h3,
.page-edit h4,
.page-edit h5,
.page-edit h6,
.page-edit legend,
.page-edit label,
.page-edit p{
	color: #F8F8F8;
	text-shadow: 1px 1px 1px #000;
}
.page-edit legend,
.page-edit hr{
	border: 0;
	border-bottom: 1px solid #333;
}
.page-edit .form-actions{
	background-color: transparent;
	border-top: 1px solid #333;
}
/* Module */
.module-header {
	padding-bottom: 17px;
	margin: 20px 0 18px 0;
	border-bottom: 1px solid #eeeeee;
}
/* Single Item */
.item-title {
	margin-bottom:9px;
}
.item-content {
	margin:18px 0;
}
.item-subtitle {
	margin-bottom:9px;
}
.pull-right.item-image {
	margin:0 0 18px 20px;
}
.pull-left.item-image {
	margin:0 20px 18px 0;
}
.header .nav > li:last-child > .dropdown-menu,
.item-actions .dropdown-menu,
.item-comment .dropdown-menu {
	left:initial;
	right:0;
}
/* List */
.list-item-title {
	margin-bottom:9px;
}
.list-item-content {
	margin:18px 0;
}
.list-item-subtitle {
	margin-bottom:9px;
}


/***********************************************************************
Changes made by IceTheme.com
************************************************************************/
.header {
	position:relative;
	background-color: #51c6f4;
	background: url(../images/header.jpg) repeat;
	border: none;
	margin: 0 0 45px;}
	
	.header hr {
		display:none;}
	
	.header:after {
		content: "";
		position: absolute;
		bottom: -20px;
		left: 0;
		width: 100%;
		height: 19px;
		background: url(../images/header_after.png) repeat;}
		
		
	.header h5 {
		margin:-6px 0 10px;
		color:#fff;
		color:rgba(255,255,255,.75);}	
		
		.header h5 a {
			color: #fff603;}
			
		
			
	.help-block fieldset#jform_sample_file input#jform_sample_file0,
	.help-block fieldset#jform_sample_file label:nth-child(2) {
		display:none;}















